footer.footer.mt-auto(class=footerStyle)
    .container-fluid
        .row
            .col-sm-12.small.text-center
                | Made with
                i.icon-heart.heart 
                | for Humans
