footer.footer.mt-auto(class=footerStyle, style="background-color: #202327;")
    .container-fluid
        .row
            .col-sm-12.small.text-center
                | Made with&nbsp;&nbsp;
                i.fas.fa-heart.heart 
                | &nbsp;&nbsp;for Humans
