footer.footer.mt-auto(class=footerStyle)
    .container-fluid
        .row.justify-content-center
            .col-sm-12.small.text-center.mt-2
                | Made with
                i.icon-heart.heart 
                | for Humans
            .col-sm-12.col-md-8.small.text-center.mt-3.text-white-75.px-3(style="font-size:0.5rem")
                em The content of this website as well as data provided by related API's is aggregated from multiple sources and given without guarantee to be correct. All information provided on this website is given with the best intent and will to provide factual information. In no event shall the website operators be held liable for any claim, damages or other liabilities. If you have concerns or comments about the information provided on this website, please write to 
                a(href="mailto:c19.information@gmail.com" style="color:white") c19.information@gmail.com