footer.footer.mt-auto(class=footerStyle)
    .container-fluid
        .row
            .col-sm-12.small.text-center
                | Made with&nbsp;&nbsp;
                i.fas.fa-heart.heart 
                | &nbsp;&nbsp;for Humans

            .col-sm-12.text-right.small
                a(href="https://about-corona.net/" target="_blank" style="text-decoration:underline")
                            | Data source 
                            i.fas.fa-external-link-alt.mr-1  
