block scripts
    script(src='https://www.gstatic.com/charts/loader.js', type="text/javascript")
    //- Load jQuery
    script(src='https://code.jquery.com/jquery-3.4.1.min.js', crossorigin='anonymous', type="text/javascript")
    //- Load Bootstrap JS Bundle
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js', crossorigin='anonymous', type="text/javascript")
    //- Load Global Template Scripts
    script(src='js/scripts.js', type="text/javascript")
