.page-header.pb-10.bg-white
    .container-fluid
        .page-header-content
            h1.page-header-title.text-dark
                span #{pageTitle}
            .page-header-subtitle
                | #{pageSummary}