script(type="text/javascript").

    let chartWorldData = [];

    // Fetch World Data
    fetch("https://corona-api.com/countries", { cache: 'no-cache' }).then((response) => response.json()).then((countries) => {
        countries.data.forEach((country) => {
            chartWorldData.push([
                country.coordinates.latitude,
                country.coordinates.longitude,
                country.country,
                // country.cases,
                country.latest_data.confirmed
            ]);
        });
        console.log(chartWorldData)
    });
    google.charts.load('current', {
        packages: [ 'geochart' ]
    });
    google.charts.setOnLoadCallback(drawMap);
    // World Map
    function drawMap() {
        var dataWorld = new google.visualization.DataTable();
        dataWorld.addColumn('number', 'Lat'); // Latitude Value
        dataWorld.addColumn('number', 'Lon'); // Longitude Value
        dataWorld.addColumn('string', 'Name'); //
        dataWorld.addColumn('number', 'Total Cases'); //
        dataWorld.addRows(chartWorldData);
        var optionsWorld = {
            displayMode: 'regions',
            backgroundColor: '#D1DDDD',
            defaultColor: '#f5f5f5',
            sizeAxis: { minValue: 100 },
            displayMode: 'markers',
            colorAxis: { colors: [ '#EFD177', '#BF3D58' ] },
            chartArea: { width: '100%', height: '100%' },
            legend: { position: 'bottom' },
            animation: {
                duration: 1000,
                easing: 'out'
            }
        };

        var chartWorld = new google.visualization.GeoChart(document.getElementById('covidWorldChart'));
        chartWorld.draw(dataWorld, optionsWorld);
    }