script(type="text/javascript").
        

        let chartWorldData = [];

        // Fetch World Data
        fetch("https://corona-api.com/countries", { cache: 'no-cache' }).then((response) => response.json()).then((countries) => {
            countries.data.forEach((country) => {
                chartWorldData.push([
                    country.coordinates.latitude,
                    country.coordinates.longitude,
                    country.name,
                    country.latest_data.confirmed,
                    createCustomHTMLContent("https://www.countryflags.io/"+country.code.toLowerCase()+"/shiny/32.png", country.latest_data.confirmed, country.latest_data.recovered, country.latest_data.deaths)
                ]);
            });
        });
        google.charts.load('current', {
            packages: [ 'geochart' ]
        });
        google.charts.setOnLoadCallback(drawMap);
        // World Map
        function createCustomHTMLContent(flagURL, confirmed, recovered, deaths) {
            return '<img src="' + flagURL + '" style="width:32px;height:32px;margin-bottom:1rem;"><br/>' +
                    '<div>' +
                    '<p style="margin-bottom:0.7rem"><b>Confirmed</b><br/>' + confirmed.toLocaleString() + '</p>' +
                    '<p style="margin-bottom:0.7rem"><b>Recovered</b><br/>' + recovered.toLocaleString() + '</p>' +
                    '<p style="margin-bottom:0.7rem"><b>Deaths</b><br/>' + deaths.toLocaleString() + '</p>'
                    '</div>';
                }
        function drawMap() {
            var dataWorld = new google.visualization.DataTable();
            dataWorld.addColumn('number', 'Lat'); // Latitude Value
            dataWorld.addColumn('number', 'Lon'); // Longitude Value
            dataWorld.addColumn('string', 'Name'); //
            dataWorld.addColumn('number', 'Confirmed'); //
            dataWorld.addColumn({'type': 'string', 'role': 'tooltip', 'p': {'html': true}}); //
            dataWorld.addRows(chartWorldData);
            var optionsWorld = {
                theme: 'maximized',
                legend:'none',
                focusTarget: 'category',
                tooltip: { isHtml: true },
                backgroundColor: { fill: '#202327'},
                datalessRegionColor: '#3B3B3B',
                sizeAxis: { minValue: 100 },
                displayMode: 'markers',
                markerOpacity:0.4,
                colorAxis: { colors: [ '#FF8726', '#FF8726' ] },
                animation: {
                    duration: 1000,
                    easing: 'out'
                }
            };
            optionsWorld['backgroundColor.stroke'] = "#ffffff"
            var chartWorld = new google.visualization.GeoChart(document.getElementById('covidWorldChart'));
            chartWorld.draw(dataWorld, optionsWorld);
        }