block meta
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(property='og:locale', content='en_US')
    meta(property='og:type', content='website')
    meta(charset='utf-8')
    meta(name='title', content='The COVID-19 Dashboard')
    meta(property='og:title', content='The COVID-19 Dashboard')
    meta(name='description', content='As the virus that causes COVID-19 spreads worldwide, this dashboard seeks to offer a one-stop snapshot of confirmed cases globally, with country specific trends, news and advisories.')
    meta(property='og:description', content='As the virus that causes COVID-19 spreads worldwide, this dashboard seeks to offer a one-stop snapshot of confirmed cases globally, with country specific trends, news and advisories.')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='../../../../assets/img/meta/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')