block meta
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(property='og:locale', content='en_US')
    meta(property='og:type', content='website')
    meta(charset='utf-8')
    meta(name='title', content='The Covid-19 Tracker')
    meta(property='og:title', content='The Covid-19 Tracker')
    meta(name='description', content='COVID-19 Global and Country specific data and graphs')
    meta(property='og:description', content='COVID-19 Global and Country specific data and graphs')
    //- meta(property='og:image', content='http://···')
    //- meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    //- meta(name='viewport', content='width=device-width')
    //- meta(name='viewport', content='width=1024')
    //- link(rel='icon', type='image/png', href='favicon@32.png')
    //- link(rel='icon', sizes='192x192', href='icon@192.png')
    //- link(rel='apple-touch-icon', href='icon@152.png')
    //- meta(name='msapplication-square310x310logo', content='icon@310.png')


    //- Coronavirus COVID-19 Global Cases by the Center for Systems Science and Engineering (CSSE) at Johns Hopkins University (JHU)
    //- As the virus that causes Covid-19 spreads worldwide, this dashboard offers a snapshot of confirmed cases by geographic location. Click a country name to get a more detailed geographic breakdown at the state, province, or county level. Learn more.
    //- The Covid-19 Tracker - STAT
    //- Regular updates about COVID-19 cases and deaths within Santa Clara County.
    //- World Health Organization Coronavirus disease (COVID-19) situation Dashboard