.datatable.table-responsive
    table#dataTableWorldTimeline.table.table-bordered.text-dark.table-hover(width='100%', cellspacing='0')
        thead
            tr
                th Name<br><small>Population</small>
                th Total Cases
                th New Cases
                th Total Deaths
                th New Deaths
                th Total Recovered
                th New recovered
        tbody
            tr
                td(colspan="9" align="center")
                    i.fa.fa-spinner.fa-spin.fa-2x
                    span.sr-only Loading...
        tfoot
            tr
                th Name<br><small>Population</small>
                th Total Cases
                th New Cases
                th Total Deaths
                th New Deaths
                th Total Recovered
                th New recovered