nav.sidenav.shadow-right(class=sidenavStyle)
    
    .sidenav-menu
        
        .nav.accordion#accordionSidenav
            a.text-right
                button#sidebarClose.btn.btn-icon.btn-transparent-dark.mr-lg-2.py-4(href='#')
                    i.icon-cross(style="position:absolute")
            a.nav-link(href='/index.html')
                .nav-link-icon
                    i.icon-earth
                | Global Dashboard
            .sidenav-menu-heading
                | Countries
            a.nav-link(href='/us.html')
                .nav-link-icon
                    img(src="https://www.countryflags.io/us/flat/16.png")
                | USA
            a.nav-link(href='/in.html')
                .nav-link-icon
                    img(src="https://www.countryflags.io/in/flat/16.png")
                | INDIA
            .sidenav-menu-heading
                | About
            a.nav-link(href='/faq-covid19.html')
                .nav-link-icon
                    i.icon-info
                | COVID19
            //- a.nav-link(href='/faq-us.html')
            //-     .nav-link-icon
            //-         i.icon-info
            //-     | COVID19