nav.sidenav.shadow-right(class=sidenavStyle)
    
    .sidenav-menu
        
        .nav.accordion#accordionSidenav
            a.text-right
                button#sidebarClose.btn.btn-icon.btn-transparent-dark.mr-lg-2.py-4(href='#')
                    i.icon-cross(style="position:absolute")
            a.nav-link.mb-2(href='/index.html')
                .nav-link-icon
                    i.icon-earth
                | Global Dashboard
            .sidenav-menu-heading.pb-0
                | Countries
            a.nav-link.mb-2.mt-1(href='/us.html')
                .nav-link-icon
                    img(src="https://www.countryflags.io/us/flat/16.png")
                | USA
            a.nav-link.mb-2.mt-2(href='/in.html')
                .nav-link-icon
                    img(src="https://www.countryflags.io/in/flat/16.png")
                | INDIA
            .sidenav-menu-heading.pb-0
                | ABOUT
            a.nav-link.mb-2.mt-1(href='/about.html')
                .nav-link-icon
                    i.icon-info
                | COVID19 and Project