nav.sidenav.shadow-right.sidenav-dark
    
    .sidenav-menu
        
        .nav.accordion#accordionSidenav

            a.text-right
                button#sidebarClose.btn.btn-icon.btn-transparent-dark.mr-lg-2.py-4(href='#',style="color: hsla(0,0%,100%,.5) !important;")
                    i.icon-cross(style="position:absolute")
            .py-2.my-1
                .sidenav-menu-heading.pb-0.text-white
                    .nav-link-icon.d-inline-block
                        i.icon-earth.mr-1 
                        | Global
                nav.sidenav-menu-nested.nav.border-left-0
                    a.nav-link.py-2.pl-2.mr-0.my-1.ml-1(href='/') Dashboard

            .py-2.my-1
                .sidenav-menu-heading.pb-0.text-white
                    .nav-link-icon.d-inline-block
                        img.mr-1(src="https://www.countryflags.io/us/flat/16.png", style="vertical-align:top") 
                        | USA
                nav.sidenav-menu-nested.nav.border-left-0
                    a.nav-link.py-2.pl-2.mr-0.my-1.ml-1(href='/us') Dashboard

            .py-2.my-1
                .sidenav-menu-heading.pb-0.text-white
                    .nav-link-icon.d-inline-block
                        img.mr-1(src="https://www.countryflags.io/in/flat/16.png", style="vertical-align:top") 
                        | INDIA
                nav.sidenav-menu-nested.nav.border-left-0
                    a.nav-link.py-2.pl-2.mr-0.my-1.ml-1(href='/in') Dashboard
                nav.sidenav-menu-nested.nav.border-left-0
                    a.nav-link.py-2.pl-2.mr-0.my-1.ml-1(href='/in-resources') Resources

            .py-2.my-1    
                .sidenav-menu-heading.pb-0.text-white
                    .nav-link-icon.d-inline-block
                        i.icon-info 
                        | ABOUT
                nav.sidenav-menu-nested.nav.border-left-0
                    a.nav-link.py-2.pl-2.mr-0.my-1.ml-1(href='/about') COVID-19 and Project