nav.sidenav.shadow-right(class=sidenavStyle)
    
    .sidenav-menu
        
        .nav.accordion#accordionSidenav
            a.text-right
                button#sidebarClose.btn.btn-icon.btn-transparent-dark.order-1.order-lg-0.mr-lg-2(href='#')
                    i.fa.fa-lg.fa-times

            a.nav-link(href='index.html')
                .nav-link-icon
                    i()
                | Dashboards

            a.nav-link(href='news.html')
                .nav-link-icon
                    i()
                | News and Social
                
            a.nav-link(href='tables.html')
                .nav-link-icon
                    i()
                | Tables      
            a.nav-link(href='charts.html')
                .nav-link-icon
                    i(data-feather='bar-chart')
                | Charts