nav.sidenav.shadow-right(class=sidenavStyle)
    
    .sidenav-menu
        
        .nav.accordion#accordionSidenav
            a.text-right
                button#sidebarClose.btn.btn-icon.btn-transparent-dark.mr-lg-2.py-4(href='#')
                    i.icon-cross

            a.nav-link(href='/index.html')
                .nav-link-icon
                    i.icon-earth
                | Global Dashboard
            .sidenav-menu-heading
                | Countries
            a.nav-link(href='/us.html')
                .nav-link-icon
                    i.icon-flag
                | USA
            a.nav-link(href='/in.html')
                .nav-link-icon
                    i.icon-flag
                | INDIA