nav.sidenav.shadow-right(class=sidenavStyle)
    
    .sidenav-menu
        
        .nav.accordion#accordionSidenav
            a.text-right
                button#sidebarClose.btn.btn-icon.btn-transparent-dark.mr-lg-2.py-4(href='#')
                    i.fa.fa-lg.fa-times

            a.nav-link(href='index')
                .nav-link-icon
                    i.fas.fa-globe
                | Global Dashboard
            .sidenav-menu-heading
                | Countries
            a.nav-link(href='/us')
                .nav-link-icon
                    i.fas.fa-flag-usa
                | USA