nav(class=['topnav', 'navbar', 'navbar-expand', 'shadow'] class="navbar-light bg-white justify-content-between")#sidenavAccordion

    //- Sidenav Toggle Button
    button#sidebarMenu.btn.btn-icon.btn-transparent-dark.order-1.order-lg-0.mr-lg-2(href='#')
        i.fa.fa-lg.fa-bars

    //- Navbar Brand Image or Text
    a.navbar-brand(href='index.html')
        img#brand-logo.rotating(src="../../../../assets/img/virus-logo.svg" height="48")