- 
    var getToKnow = {
                    tab:'get-to-know',
                    data:[
                            {
                                title: 'Basics',
                                id: 'basics',
                                content: [
                                    { 
                                        question: 'What is a novel coronavirus?',
                                        answer: '<p>A novel coronavirus is a new coronavirus that has not been previously identified. The virus causing coronavirus disease 2019 (COVID-19), is not the same as the&nbsp;<a target="_blank" href="https://www.cdc.gov/coronavirus/types.html"></a>coronaviruses that commonly circulate among humans &nbsp;and cause mild illness, like the common cold.</p><p>A diagnosis with coronavirus 229E, NL63, OC43, or HKU1 is not the same as a COVID-19 diagnosis. Patients with COVID-19 will be evaluated and cared for differently than patients with common coronavirus diagnosis.</p>' 
                                    },
                                    {
                                        question: 'Why is the disease being called coronavirus disease 2019, COVID-19?',
                                        answer:'<p>On February 11, 2020 the World Health Organization&nbsp;<a target="_blank" href="https://twitter.com/DrTedros/status/1227297754499764230">announced</a>&nbsp;an official name for the disease that is causing the 2019 novel coronavirus outbreak, first identified in Wuhan China. The new name of this disease is coronavirus disease 2019, abbreviated as COVID-19. In COVID-19, ‘CO’ stands for ‘corona,’ ‘VI’ for ‘virus,’ and ‘D’ for disease. Formerly, this disease was referred to as “2019 novel coronavirus” or “2019-nCoV”.</p><p>There are many types&nbsp;of human coronaviruses including some that commonly cause mild upper-respiratory tract illnesses. COVID-19 is a new disease, caused be a novel (or new) coronavirus that has not previously been seen in humans. The name of this disease was selected following the World Health Organization (WHO)&nbsp;<a class="tp-link-policy" href="https://www.who.int/topics/infectious_diseases/naming-new-diseases/en/" data-domain-ext="int"></a>best practice<span class="sr-only">external icon</span><span class="sr-only">external icon</span><span class="icon-new-tab mx-1" aria-hidden="true"></span>&nbsp;for naming of new human infectious diseases.</p>'
                                    },
                                    {
                                        question: 'Why might someone blame or avoid individuals and groups (create stigma) because of COVID-19?',
                                        answer:'<p>People in the U.S. may be worried or anxious about friends and relatives who are living in or visiting areas where COVID-19 is spreading. Some people are worried about getting the disease from these people. Fear and anxiety can lead to social stigma, for example, toward people who live in certain parts of the world, people who have traveled internationally, people who were in quarantine, or healthcare professionals.</p><p>Stigma is discrimination against an identifiable group of people, a place, or a nation. Stigma is associated with a lack of knowledge about how COVID-19 spreads, a need to blame someone, fears about disease and death, and gossip that spreads rumors and myths.</p><p>Stigma hurts everyone by creating more fear or anger toward ordinary people instead of focusing on the disease that is causing the problem.</p>'
                                    },
                                    {
                                        question: 'How can people help stop stigma related to COVID-19?',
                                        answer:'<p>People can fight stigma by providing social support in situations where you notice this is occurring. Stigma affects the emotional or&nbsp;<a target="_blank" href="https://www.cdc.gov/coronavirus/2019-ncov/daily-life-coping/reducing-stigma.html"></a>mental health &nbsp;of stigmatized groups and the communities they live in. Stopping stigma is important to making communities and community members resilient. See&nbsp;<a target="_blank" href="https://www.cdc.gov/coronavirus/2019-ncov/about/coping.html"></a>resources on mental health and coping during COVID-19 . Everyone can help stop stigma related to COVID-19 by&nbsp;<a target="_blank" href="https://www.cdc.gov/coronavirus/2019-ncov/about/share-facts.html">knowing the facts</a>&nbsp;and sharing them with others in your community.</p>'
                                    }
                                ]
                            },
                            {
                                title: 'How COVID-19 Spreads',
                                id: 'how-it-Spreads',
                                content: [
                                    { 
                                        question: 'What is the source of the virus?',
                                        answer: '<p>COVID-19 is caused by a coronavirus called SARS-CoV-2. Coronaviruses are a large family of viruses that are common in people and may different species of animals, including camels, cattle, cats, and bats. &nbsp;Rarely, animal coronaviruses can infect people and then spread between people. This occurred with <a target="_blank" href="/coronavirus/mers/index.html">MERS-CoV</a> and <a target="_blank" href="/sars/index.html">SARS-CoV</a>, and now with the virus that causes COVID-19. The SARS-CoV-2 virus is a betacoronavirus, like MERS-CoV and SARS-CoV. All three of these viruses have their origins in bats. The sequences from U.S. patients are similar to the one that China initially posted, suggesting a likely single, recent emergence of this virus from an animal reservoir. However, the exact source of this virus is unknown.</p><p>More information about the source and spread of COVID-19 is available on the <a target="_blank" href="/coronavirus/2019-ncov/cases-updates/summary.html#emergence">Situation Summary: Source and Spread of the Virus</a>.</p>' 
                                    },
                                    {
                                        question: 'How does the virus spread?',
                                        answer:'<p>The virus that causes COVID-19 is thought to spread mainly from person to person, mainly through respiratory droplets produced when an infected person coughs or sneezes. These droplets can land in the mouths or noses of people who are nearby or possibly be inhaled into the lungs. Spread is more likely when people are in close contact with one another (within about 6 feet).</p><p>COVID-19 seems to be spreading easily and sustainably in the community (“community spread”) in&nbsp;<a target="_blank" href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/how-covid-spreads.html">many affected geographic areas</a>. Community spread means people have been infected with the virus in an area, including some who are not sure how or where they became infected.</p><p>Learn what is known about the&nbsp;<a target="_blank" href="https://www.cdc.gov/coronavirus/2019-ncov/about/transmission.html">spread of newly emerged coronaviruses</a>.</p>'
                                    },
                                    {
                                        question: 'Why are we seeing a rise in cases?',
                                        answer:' <p>The&nbsp;<a target="_blank" href="https://www.cdc.gov/coronavirus/2019-ncov/cases-updates/cases-in-us.html">number of cases of COVID-19</a>&nbsp;being reported in the United States is rising due to&nbsp;<a target="_blank" href="https://www.cdc.gov/coronavirus/2019-ncov/cases-updates/testing-in-us.html">increased laboratory testing</a>&nbsp;and reporting across the country. The growing number of cases in part reflects the rapid spread of COVID-19 as many U.S. states and territories experience community spread. More detailed and accurate data will allow us to better understand and track the size and scope of the outbreak and strengthen prevention and response efforts.</p>'
                                    },
                                    {
                                        question: 'Can someone who has had COVID-19 spread the illness to others?',
                                        answer:'<p>The virus that causes COVID-19 is&nbsp;<a target="_blank" href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/how-covid-spreads.html">spreading from person-to-person</a>. People are thought to be most contagious when they are symptomatic (the sickest). That is why CDC recommends that these patients be isolated either in the hospital or at home (depending on how sick they are) until they are better and no longer pose a risk of infecting others. More recently the virus has also been detected in asymptomatic persons.</p><p>How long someone is actively sick can vary so the decision on when to release someone from isolation is made using a test-based or non-test-based strategy (i.e. time since illness started and time since recovery) in consultation with state and local public health officials. The decision involves considering the specifics of each situation, including disease severity, illness signs and symptoms, and the results of laboratory testing for that patient.</p><p>Learn more about&nbsp;<a target="_blank" href="https://www.cdc.gov/coronavirus/2019-ncov/hcp/disposition-hospitalized-patients.html">CDC’s guidance on when to release someone from isolation</a>&nbsp;and discharge hospitalized patients with COVID-19. For information on when someone who has been sick with COVID-19 is able to stop home isolation see&nbsp;<a target="_blank" href="https://www.cdc.gov/coronavirus/2019-ncov/hcp/disposition-in-home-patients.html"></a>Interim Guidance for Discontinuation of In-Home Isolation for Patients with COVID-19 .</p><p>Someone who has been released from isolation is not considered to pose a risk of infection to others.</p>'
                                    },
                                    {
                                        question: 'Can someone who has been quarantined for COVID-19 spread the illness to others?',
                                        answer:'<p>Quarantine means separating a person or group of people who have been exposed to a contagious disease but have not developed illness (symptoms) from others who have not been exposed, in order to prevent the possible spread of that disease. Quarantine is usually established for the incubation period of the communicable disease, which is the span of time during which people have developed illness after exposure. For COVID-19, the period of quarantine is 14 days from the last date of exposure because the incubation period for this virus is 2 to 14 days. Someone who has been released from COVID-19 quarantine is not considered a risk for spreading the virus to others because they have not developed illness during the incubation period.</p>'
                                    },
                                    {
                                        question: 'Can the virus that causes COVID-19 be spread through food, including restaurant take out, refrigerated or frozen packaged food?',
                                        answer:'<p>Coronaviruses are generally thought to be spread from person to person through respiratory droplets. Currently, there is no evidence to support transmission of COVID-19 associated with food. Before preparing or eating food it is important to always wash your hands with soap and water for at least 20 seconds for general food safety. Throughout the day use a tissue to cover your coughing or sneezing, and wash your hands after blowing your nose, coughing or sneezing, or going to the bathroom.</p><p>It may be possible that a person can get COVID-19 by touching a surface or object, like a packaging container, that has the virus on it and then touching their own mouth, nose, or possibly their eyes, but this is not thought to be the main way the virus spreads.</p><p>In general, because of poor survivability of these coronaviruses on surfaces, there is likely very low risk of spread from food products or packaging.</p><p>Learn what is known about the&nbsp;<a target="_blank" href="https://www.cdc.gov/coronavirus/2019-ncov/prepare/transmission.html">spread of COVID-19</a>.</p>'
                                    },
                                    {
                                        question: 'Can I get sick with COVID-19 if it is on food?',
                                        answer:'<p>Based on information about this novel coronavirus thus far, it seems unlikely that COVID-19 can be transmitted through food – additional investigation is needed.</p>'
                                    },
                                    {
                                        question: 'Will warm weather stop the outbreak of COVID-19?',
                                        answer:'<p>It is not yet known whether weather and temperature affect the spread of COVID-19. Some other viruses, like those that cause the common cold and flu, spread more during cold weather months but that does not mean it is impossible to become sick with these viruses during other months.  There is much more to learn about the transmissibility, severity, and other features associated with COVID-19 and investigations are ongoing.</p>'
                                    },
                                    {
                                        question: 'What is community spread?',
                                        answer:'<p>Community spread means people have been infected with the virus in an area, including some who are not sure how or where they became infected.</p>'
                                    },
                                    {
                                        question: 'What temperature kills the virus that causes COVID-19?',
                                        answer:'<p>Generally coronaviruses survive for shorter periods at higher temperatures and higher humidity than in cooler or dryer environments. However, we don’t have direct data for this virus, nor do we have direct data for a temperature-based cutoff for inactivation at this point. The necessary temperature would also be based on the materials of the surface, the environment, etc. Regardless of temperature please follow CDC’s guidance for cleaning and disinfection.</p>'
                                    },
                                    {
                                        question: 'Can mosquitoes or ticks spread the virus that causes COVID-19?',
                                        answer:'<p>At this time, CDC has no data to suggest that this new coronavirus or other similar coronaviruses are spread by mosquitoes or ticks. The main way that COVID-19 spreads is from person to person. See How Coronavirus Spreads for more information.</p>'
                                    }
                                ]
                            },
                            {
                                title: 'Symptoms & Testing',
                                id: 'symptoms-testing',
                                content: [
                                    { 
                                        question: 'What are the symptoms and complications that COVID-19 can cause?',
                                        answer: '<p>People with COVID-19 have had a wide range of symptoms reported – ranging from mild symptoms to severe illness. People with these symptoms or combinations of symptoms may have COVID-19:</p><ul><li>Cough</li><li>Shortness of breath or difficulty breathing</li></ul><p>Or at least two of these symptoms:</p><ul><li>Fever</li><li>Chills</li><li>Repeated shaking with chills</li><li>Muscle pain</li><li>Headache</li><li>Sore throat</li><li>New loss of taste or smell</li></ul><p>This list is not all inclusive. Please consult your medical provider for any other symptoms that are severe or concerning to you.</p><p>Read about <a target="_blank" href="/coronavirus/2019-ncov/symptoms-testing/symptoms.html">COVID-19 Symptoms</a></p>'
                                    },
                                    { 
                                        question: 'Is it possible to have the flu and COVID-19 at the same time?',
                                        answer: '<p>It is possible to test positive for flu (as well as other respiratory pathogens) and the virus that causes COVID-19 at the same time.</p>' 
                                    },
                                    { 
                                        question: 'Should I be tested for COVID-19?',
                                        answer: '<p>Not everyone needs to be tested for COVID-19. For information about testing, see&nbsp;<a target="_blank" href="https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/testing.html">Testing for COVID-19</a>.</p>' 
                                    },
                                    { 
                                        question: 'Can a person test negative and later test positive for COVID-19?',
                                        answer: '<p>Using the CDC-developed viral test, a negative result means that the virus that causes COVID-19 was not found in the person’s sample. In the early stages of infection, it is possible the virus will not be detected.</p><p>For COVID-19, a negative test result for a sample collected while a person has symptoms likely means that the COVID-19 virus is not causing their current illness.</p>' 
                                    },
                                    { 
                                        question: 'What is antibody testing? And can I be tested using this method?',
                                        answer: '<p>Antibody testing checks a sample of a person’s blood to look for antibodies to SARS-CoV-2, the virus that causes COVID-19. These antibodies are produced when someone has been infected, so a positive result from this test indicates that person was previously infected with the virus.</p><p>CDC is working with other federal agencies to evaluate the performance of commercially manufactured antibody tests that are becoming increasingly available from healthcare providers. This evaluation is expected to be completed in early May.</p><p>We do not know yet if the antibodies that result from infection with SARS-CoV-2 can protect someone from reinfection with this virus (immunity) or how long antibodies to the virus will protect someone. Scientists are conducting research to answer those questions.</p><p>Antibody tests may not be able to tell you if you are currently infected because it typically takes 1 to 3 weeks to develop antibodies to SARS-CoV-2. To tell if you are currently infected, you would need a test that identifies the virus in samples from your upper respiratory system, such as a nasopharyngeal swab.</p>' 
                                    }
                                ]
                            },
                            {
                                title: 'COVID-19 and Animals',
                                id: 'animals',
                                content: [
                                    { 
                                        question: 'Can I get COVID-19 from my pets or other animals?',
                                        answer: '<p>At this time, there is no evidence that animals play a significant role in spreading the virus that causes COVID-19. Based on the limited information available to date, the risk of animals spreading COVID-19 to people is considered to be low. &nbsp;A small number of pets have been reported to be infected with the virus that causes COVID-19, mostly after contact with people with COVID-19.</p><p>Pets have other types of coronaviruses that can make them sick, like canine and feline coronaviruses. These other coronaviruses cannot infect people and are not related to the current COVID-19 outbreak.</p><p>However, since animals can spread other diseases to people, it’s always a good idea to practice&nbsp;<a target="_blank" href="https://www.cdc.gov/healthypets/publications/stay-healthy-pets.html">healthy habits</a>&nbsp;around pets and other animals, such as washing your hands and maintaining good hygiene. For more information on the many benefits of pet ownership, as well as staying safe and healthy around animals including pets, livestock, and wildlife, visit CDC’s&nbsp;<a target="_blank" href="https://www.cdc.gov/healthypets/index.html">Healthy Pets, Healthy People website</a>.</p>' 
                                    },
                                    { 
                                        question: 'Do I need to get my pet tested for COVID-19?',
                                        answer: '<p>No. At this time, routine testing of animals for COVID-19 is not recommended.</p>' 
                                    },
                                    { 
                                        question: 'Can animals carry the virus that causes COVID-19 on their skin or fur?',
                                        answer: '<p>Although we know certain bacteria and fungi can be carried on fur and hair, there is no evidence that viruses, including the virus that causes COVID-19, can spread to people from the skin, fur, or hair of pets.</p><p>However, because animals can sometimes carry other germs that can make people sick, it’s always a good idea to practice <a target="_blank" href="https://www.cdc.gov/healthypets/publications/stay-healthy-pets.html">healthy habits</a> around pets and other animals, including washing hands before and after interacting with them.</p>' 
                                    },
                                    { 
                                        question: 'What animals can get COVID-19?',
                                        answer: '<p>We don’t know for sure which animals can be infected with the virus that causes COVID-19. CDC is aware of a small number of pets, including dogs and cats, reported to be infected with the virus that causes COVID-19, mostly after close contact with people with COVID-19. A tiger at a zoo in New York has also tested positive for the virus.</p><p>Recent research shows that ferrets, cats, and golden Syrian hamsters can be experimentally infected with the virus and can spread the infection to other animals of the same species in laboratory settings. Pigs, chickens, and ducks did not become infected or spread the infection based on results from these studies. Data from one study suggested dogs are not as likely to become infected with the virus as cats and ferrets. These findings were based on a small number of animals, and do not show whether animals can spread infection to people.</p><p>At this time, there is no evidence that animals play a significant role in spreading the virus that causes COVID-19. Based on the limited information available to date, the risk of animals spreading COVID-19 to people is considered to be low. Further studies are needed to understand if and how different animals could be affected by the virus that causes COVID-19 and the role animals may play in the spread of COVID-19.</p>' 
                                    },
                                    { 
                                        question: 'Can wild animals spread the virus that causes COVID-19 to people or pets?',
                                        answer: '<p>Currently, there is no evidence to suggest the virus that causes COVID-19 is circulating in free-living wildlife in the United States, or that wildlife might be a source of infection for people in the United States. The first case of a wild animal testing positive for the virus in the United States was a tiger with a respiratory illness at a zoo in New York City. However, this tiger was in a captive zoo environment ,and public health officials believe the tiger became sick after being exposed to a zoo employee who was infected and spreading the virus.</p><p>If a wild animal were to become infected with the virus, we don’t know whether the infection could then spread among wildlife or if it could spread to other animals, including pets. Further studies are needed to understand if and how different animals, including wildlife, could be affected by COVID-19. Because wildlife can carry other diseases, even without looking sick, it is always important to enjoy wildlife from a distance.</p><p>Take steps to prevent getting sick from wildlife in the United States:</p><ul><li>Keep your family, including pets, a safe distance away from wildlife.</li><li>Do not feed wildlife or touch wildlife droppings.</li><li>Always wash your hands and supervise children washing their hands after working or playing outside.</li><li>Leave orphaned animals alone. Often, the parents are close by and will return for their young.</li><li>Consult your state wildlife agency’s guidance if you are preparing or consuming legally harvested game meat.</li><li>Do not approach or touch a sick or dead animal – contact your state wildlife agency instead.</li></ul>' 
                                    }
                                ]
                            }
                        ]
                    }