extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'nav-fixed'
    - var pageTitle = 'COVID19 USA Dashboard'
    - var sidenavStyle = 'sidenav-light'
    - var topnavStyle = 'navbar-light bg-white'
    - var pageHeaderStyle = 'page-header-dark'
    - var pageHeaderBackground = 'bg-gradient-primary-to-secondary'
    - var footerStyle = 'footer-dark bg-dark'
    - var topNavRegion = 'USA'
    
append css
    link(href='https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css', rel='stylesheet', crossorigin='anonymous')
    //- include includes/in-map-js.pug
    
block content
    .container-fluid.mt-4
        .card.mb-4
            .card-header.bg-dark
                h3.text-white Map
            .card-body.p-3
                #covidCountryMap(style="height:50vh")
        .row
            .col-sm-12
                .card.pb-2.mb-4
                    .card-header.bg-dark
                        h3.text-white Line Chart
                    .card-body(style="background-color: #191a1a !important;")
                        .row.d-flex.justify-content-md-center
                            .col-sm-12.col-md-9.p-0
                                canvas#myChart.p-1.tuatara(style="width:100%; height:30rem")
                            .col-sm-12.col-md-2.pl-md-4
                                .row.justify-content-around
                                    .col
                                        p.font-italic.font-weight-300.text-left.mb-1 Chart Type
                                        .custom-control.custom-radio.custom-control-solid.text-white
                                            input#barRadio.custom-control-input(type='radio', name='chartTypeRadio' checked)
                                            label.custom-control-label(for='barRadio') Bar 
                                        .custom-control.custom-radio.custom-control-solid.text-white
                                            input#lineRadio.custom-control-input(type='radio', name='chartTypeRadio')
                                            label.custom-control-label(for='lineRadio') Line
                                .row.justify-content-around
                                    .col
                                        p.font-italic.font-weight-300.text-left.mb-1 Case Type
                                        .custom-control.custom-radio.custom-control-solid.text-white
                                            input#confirmedRadio.custom-control-input(type='radio', name='caseTypeRadio', value="confirmed" checked)
                                            label.custom-control-label(for='confirmedRadio') Confirmed 
                                        .custom-control.custom-radio.custom-control-solid.text-white
                                            input#recoveredRadio.custom-control-input(type='radio', name='caseTypeRadio', value="recovered")
                                            label.custom-control-label(for='recoveredRadio') Recovered
                                        .custom-control.custom-radio.custom-control-solid.text-white
                                            input#deathsRadio.custom-control-input(type='radio', name='caseTypeRadio', value="deaths")
                                            label.custom-control-label(for='deathsRadio') Deaths
                                .row.justify-content-around
                                    .col
                                        p.font-italic.font-weight-300.text-left.mb-1 Chart Type
                                        .custom-control.custom-radio.custom-control-solid.text-white
                                            input#sinceBeginning.custom-control-input(type='radio', name='timeframe', value="beginning")
                                            label.custom-control-label(for='sinceBeginning') Beginning
                                        .custom-control.custom-radio.custom-control-solid.text-white
                                            input#sinceMonth.custom-control-input(type='radio', name='timeframe' ,value="month", checked)
                                            label.custom-control-label(for='sinceMonth') 1 Month
                                        .custom-control.custom-radio.custom-control-solid.text-white
                                            input#sinceWeeks.custom-control-input(type='radio', name='timeframe', value="weeks")
                                            label.custom-control-label(for='sinceWeeks') 2 Weeks
                                .row.d-flex.justify-content-center.pt-4 Total
                                .row.d-flex.justify-content-around.pb-1.pt-1.text-center
                                    .col.p-1
                                        p.mb-1
                                            small.font-weight-light.mb-1 Confirmed
                                        p#total-confirmed.card-text.text-dark ...
                                    .col.p-1
                                        p.mb-1
                                            small.font-weight-light.mb-1 Recovered
                                        p#total-recovered.card-text.text-dark ...
                                    .col.p-1
                                        p.mb-1
                                            small.font-weight-light.mb-1 Deaths
                                        p#total-deaths.card-text.text-dark ...
                                p.card-text.mt-1.text-md-right
                                    small.pr-1.text-muted#total-date.font-weight-light

            .col-sm-12
                .card.pb-2.mb-4
                    .card-header.bg-dark
                        h3.text-white Datatable
                    .card-body.pb-2
                        include includes/datatables/datatable-country.pug 
                        a.small.w-100.text-right.pt-2(href="https://disease.sh/" target="_blank")
                                    | Data source 
                                    i.fas.fa-external-link-alt.mr-1
            .col-lg-12
                .card.mb-4
                    .card-header.bg-dark
                        h3.text-white Distribution in States
                    .card-body
                        .row
                            .col-lg-4.px-0
                                .chart-pie
                                    canvas#pie-chart-total-cases(width='100%', height='50px')
                            .col-lg-4.px-0
                                .chart-pie
                                    canvas#pie-chart-hospitliazed(width='100%', height='50')
                            .col-lg-4
                                p.font-italic.font-weight-300.text-left.mb-1
                                    small Select a region
                                .select.w-100
                                    select#selectRegion
                                        option(value="usa" selected) USA
                                .list-group.list-group-flush.small#pie-numbers
                    .card-footer.small.text-muted.justify-content-between.d-flex
                        #last-updated-pie
                        a.small.w-100.text-right.pt-2(href="https://covidtracking.com/" target="_blank")
                                    | Data source 
                                    i.fas.fa-external-link-alt.mr-1
            .col-sm-12
                .card.mb-4
                    .card-header.bg-dark
                        h5.text-white In The Press
                    .card-body
                        .row.d-flex.justify-content-between
                            .col-sm-12.col-md-8.pr-md-5
                                .card.mt-4.mb-2.left-panel-reports-container.border-top-0.border-right-0.border-bottom-0.border-left-0.px-0
                                    h4.card-title.p-3.text-dark.bg-light News

                                    p.font-italic.font-weight-300.text-left.mb-1
                                        small Select a region
                                    .select
                                        select#selectNewsRegion
                                            option(value="US" selected) USA
                                    .text-gray-600.small#news-results-number.pl-3
                                    #card-deck.my-2.pr-md-2
                                    a.small.w-100.text-right.pt-2(href="https://smartable.ai/" target="_blank") 
                                        | Data Source
                                        i.fas.fa-external-link-alt.mr-1
                            .col-sm-12.col-md-4.px-0
                                .card.mt-4.mb-2.left-panel-reports-container.border-top-0.border-right-0.border-bottom-0.border-left-0.px-0
                                    h4.card-title.p-3.text-dark.bg-light Travel Health Notices
                                    .d-flex.align-items-center.justify-content-center.pb-1
                                        span.bg-red.ml-4.mr-2(style="width: 10px;height: 7px;display: inline-block;vertical-align: middle;") 
                                        span.small.text-muted Alert
                                        span.bg-yellow.ml-4.mr-2(style="width: 10px;height: 7px;display: inline-block;vertical-align: middle;") 
                                        span.small.text-muted Warning
                                        span.bg-dark.ml-4.mr-2(style="width: 10px;height: 7px;display: inline-block;vertical-align: middle;") 
                                        span.small.text-muted Watch
                                    .list-group.list-group-flush.small#left-panel-reports.mr-md-2
                                    a.small.w-100.text-right.pt-2(href="https://covid19-docs.chrismichael.now.sh/" target="_blank") 
                                        | Data Source
                                        i.fas.fa-external-link-alt.mr-1    

append scripts
    //- Load Chart.js via CDN
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js', crossorigin='anonymous')
    //- script(src='https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js', crossorigin='anonymous')
    //- script(src='https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js', crossorigin='anonymous')
    script(src='assets/charts/chart-line-in.js')
    script(src='js/countries/in.js')
