extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'nav-fixed'
    - var pageTitle = 'COVID19 USA Dashboard'
    - var sidenavStyle = 'sidenav-light'
    - var topnavStyle = 'navbar-light bg-white'
    - var pageHeaderStyle = 'page-header-dark'
    - var pageHeaderBackground = 'bg-gradient-primary-to-secondary'
    - var footerStyle = 'footer-dark bg-dark'
    - var topNavRegion = 'USA'
    
append css
    link(href='https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css', rel='stylesheet', crossorigin='anonymous')
    //- include includes/in-map-js.pug
    script.

        function statesIndiaLatLong(state) {
            let states = {
                'Andaman and Nicobar Islands': {
                    lat: 11.66702557,
                    long: 	92.73598262
                },
                'Andhra Pradesh': {
                    lat: 14.7504291,
                    long: 78.57002559
                },
                'Arunachal Pradesh': {
                    lat: 27.10039878,
                    long: 93.61660071
                },
                Assam: {
                    lat: 26.7499809,
                    long: 94.21666744
                },
                Bihar: {
                    lat: 25.78541445,
                    long: 87.4799727
                },
                Chandigarh: {
                    lat: 30.71999697,
                    long: 76.78000565
                },
                Chhattisgarh: {
                    lat: 22.09042035,
                    long: 82.15998734
                },
                Delhi: {
                    lat: 28.6699929,
                    long: 77.23000403
                },
                Goa: {
                    lat: 15.491997,
                    long: 73.81800065
                },
                Gujarat: {
                    lat: 22.309425,
                    long: 72.13623
                },
                Haryana: {
                    lat: 29.065773,
                    long: 76.040497
                },
                'Himachal Pradesh': {
                    lat: 31.10002545,
                    long: 77.16659704
                },
                'Jammu and Kashmir': {
                    lat: 34.29995933,
                    long: 74.46665849
                },
                Jharkhand: {
                    lat: 23.80039349,
                    long: 86.41998572
                },
                Karnataka: {
                    lat: 12.57038129,
                    long: 76.91999711
                },
                Kerala: {
                    lat: 8.900372741,
                    long: 76.56999263
                },
                Ladakh: {
                    lat: 34.209515,
                    long: 77.615112
                },
                'Madhya Pradesh': {
                    lat: 21.30039105,
                    long: 76.13001949
                },
                Maharashtra: {
                    lat: 19.25023195,
                    long: 73.16017493
                },

                Manipur: {
                    lat: 24.79997072,
                    long: 93.95001705
                },
                Meghalaya: {
                    lat: 25.57049217,
                    long: 91.8800142
                },
                Mizoram: {
                    lat: 23.71039899,
                    long: 92.72001461
                },
                Nagaland: {
                    lat: 25.6669979,
                    long: 94.11657019
                },
                Odisha: {
                    lat: 19.82042971,
                    long: 85.90001746
                },
                Orissa: {
                    lat: 19.82042971,
                    long: 85.90001746
                },
                Puducherry: {
                    lat: 11.93499371,
                    long: 79.83000037
                },
                Punjab: {
                    lat: 31.51997398,
                    long: 75.98000281
                },
                Rajasthan: {
                    lat: 26.44999921,
                    long: 74.63998124
                },
                Sikkim: {
                    lat: 27.3333303,
                    long: 88.6166475
                },
                'Tamil Nadu': {
                    lat: 12.92038576,
                    long: 79.15004187
                },
                Telengana: {
                    lat: 17.123184,
                    long: 79.208824
                },
                Tripura: {
                    lat: 23.83540428,
                    long: 91.27999914
                },

                Uttarakhand: {
                    lat: 29.423,
                    long: 79.4275
                },
                'Uttar Pradesh': {
                    lat: 27.59998069,
                    long: 78.05000565
                },
                Uttaranchal: {
                    lat: 30.32040895,
                    long: 78.05000565
                },
                'West Bengal': {
                    lat: 22.58039044,
                    long: 88.32994665
                }
            };
            if (states[state] != null) {
                return states[state];
            }
            return state;
        }
        fetch('https://api.rootnet.in/covid19-in/stats/latest', { cache: 'no-cache' })
            .then((response) => response.json())
            .then((data) => {
                countiesData(data);
            });


            
        function countiesData(data) {
            var mymap = L.map('covidCountryMap').setView([ 20.59, 78.96 ], 4);
            let mapboxAccessToken =
                'pk.eyJ1Ijoic3dhcG5pbDciLCJhIjoiY2s5ZnRtZXh1MGVuYTNkbGNhNWtrcmt0diJ9.fzy5HcciZYupAiuzpVmlWA';
            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=' + mapboxAccessToken, {
                id: 'mapbox/dark-v10',
                attribution:
                    'Map data <a href="https://disease.sh/">Novel COVID API</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                minZoom: 1,
                noWrap: true,
                bounds: [ [ -90, -180 ], [ 90, 180 ] ]
            }).addTo(mymap);
            var myRenderer = L.canvas({ padding: 0.5 });
            function htmlPopup(county, confirmed, recovered, deaths) {
                let output = '';
                if (county !== null) {
                    output += `<b>${county}</b>, `;
                }
                if (confirmed !== null) {
                    output += `<br/>Confirmed: ${confirmed.toLocaleString()}`;
                }
                if (recovered !== null) {
                    output += `<br/>Recovered: ${recovered.toLocaleString()}`;
                }
                if (deaths !== null) {
                    output += `<br/>Deaths: ${deaths.toLocaleString()}`;
                }
                return output;
            }
            data.data.regional.forEach(function(state) {
            console.log("county", state.loc, statesIndiaLatLong(state.loc).lat, statesIndiaLatLong(state.loc).long)

                var latlng = L.latLng({ lat: statesIndiaLatLong(state.loc).lat, lng: statesIndiaLatLong(state.loc).long });
                var circle = L.circleMarker(latlng, {
                    fillOpacity: 0.3,
                    radius: Math.sqrt(state.totalConfirmed)*0.3,
                    stroke: false,
                    fillColor: '#0061F2',
                    renderer: myRenderer
                })
                    .addTo(mymap)
                    .bindTooltip(
                        htmlPopup(
                            state.loc,
                            state.totalConfirmed,
                            state.discharged,
                            state.deaths
                        )
                    );
            });
            var info = L.control({ position: 'bottomright' });

            info.onAdd = function(map) {
                this._div = L.DomUtil.create('div', 'map-info'); // create a div with a class "info"
                this._div.innerHTML = '<h4>COVID19 INDIA SPREAD DATA</h4><p class="mb-0">Tap/hover on the marker for more information</p>';
                return this._div;
            };
            info.addTo(mymap);
        }


block content
    .container-fluid.mt-4
        .card.mb-4
            .card-header.bg-dark
                h3.text-white Map
            .card-body.p-3
                #covidCountryMap(style="height:50vh")
        .row
            .col-sm-12
                .card.pb-2.mb-4
                    .card-header.bg-dark
                        h3.text-white Datatable
                    .card-body.pb-2
                        include includes/datatables/datatable-country.pug 
                        a.small.w-100.text-right.pt-2(href="https://disease.sh/" target="_blank")
                                    | Data source 
                                    i.fas.fa-external-link-alt.mr-1
            .col-lg-12
                .card.mb-4
                    .card-header.bg-dark
                        h3.text-white Distribution in States
                    .card-body
                        .row
                            .col-lg-4.px-0
                                .chart-pie
                                    canvas#pie-chart-total-cases(width='100%', height='50px')
                            .col-lg-4.px-0
                                .chart-pie
                                    canvas#pie-chart-hospitliazed(width='100%', height='50')
                            .col-lg-4
                                p.font-italic.font-weight-300.text-left.mb-1
                                    small Select a region
                                .select.w-100
                                    select#selectRegion
                                        option(value="usa" selected) USA
                                .list-group.list-group-flush.small#pie-numbers
                    .card-footer.small.text-muted.justify-content-between.d-flex
                        #last-updated-pie
                        a.small.w-100.text-right.pt-2(href="https://covidtracking.com/" target="_blank")
                                    | Data source 
                                    i.fas.fa-external-link-alt.mr-1
            .col-sm-12
                .card.mb-4
                    .card-header.bg-dark
                        h5.text-white In The Press
                    .card-body
                        .row.d-flex.justify-content-between
                            .col-sm-12.col-md-8.pr-md-5
                                .card.mt-4.mb-2.left-panel-reports-container.border-top-0.border-right-0.border-bottom-0.border-left-0.px-0
                                    h4.card-title.p-3.text-dark.bg-light News

                                    p.font-italic.font-weight-300.text-left.mb-1
                                        small Select a region
                                    .select
                                        select#selectNewsRegion
                                            option(value="US" selected) USA
                                    .text-gray-600.small#news-results-number.pl-3
                                    #card-deck.my-2.pr-md-2
                                    a.small.w-100.text-right.pt-2(href="https://smartable.ai/" target="_blank") 
                                        | Data Source
                                        i.fas.fa-external-link-alt.mr-1
                            .col-sm-12.col-md-4.px-0
                                .card.mt-4.mb-2.left-panel-reports-container.border-top-0.border-right-0.border-bottom-0.border-left-0.px-0
                                    h4.card-title.p-3.text-dark.bg-light Travel Health Notices
                                    .d-flex.align-items-center.justify-content-center.pb-1
                                        span.bg-red.ml-4.mr-2(style="width: 10px;height: 7px;display: inline-block;vertical-align: middle;") 
                                        span.small.text-muted Alert
                                        span.bg-yellow.ml-4.mr-2(style="width: 10px;height: 7px;display: inline-block;vertical-align: middle;") 
                                        span.small.text-muted Warning
                                        span.bg-dark.ml-4.mr-2(style="width: 10px;height: 7px;display: inline-block;vertical-align: middle;") 
                                        span.small.text-muted Watch
                                    .list-group.list-group-flush.small#left-panel-reports.mr-md-2
                                    a.small.w-100.text-right.pt-2(href="https://covid19-docs.chrismichael.now.sh/" target="_blank") 
                                        | Data Source
                                        i.fas.fa-external-link-alt.mr-1    

append scripts
    //- Load Chart.js via CDN
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js', crossorigin='anonymous')
    script(src='https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js', crossorigin='anonymous')
    script(src='https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js', crossorigin='anonymous')
    script(src='js/countries/in.js')
