extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'nav-fixed'
    - var pageTitle = 'COVID19 World Dashboard'
    - var sidenavStyle = 'sidenav-light'
    - var pageHeaderStyle = 'page-header-dark'
    - var pageHeaderBackground = 'bg-gradient-primary-to-secondary'
    - var footerStyle = 'footer-dark bg-dark'
    - var topNavRegion = 'world'
    
append css
    style(type='text/css').

        @-webkit-keyframes rotating {
            from {
                -webkit-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            to {
                -webkit-transform: rotate(360deg);
                -o-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        @keyframes rotating {
            from {
                -ms-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            to {
                -ms-transform: rotate(360deg);
                -moz-transform: rotate(360deg);
                -webkit-transform: rotate(360deg);
                -o-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        .rotating {
            -webkit-animation: rotating 3s linear infinite;
            -moz-animation: rotating 3s linear infinite;
            -ms-animation: rotating 3s linear infinite;
            -o-animation: rotating 3s linear infinite;
            animation: rotating 3s linear infinite;
        }

    include world-map-js.pug
block content
    .container-fluid.mt-4
        .card.mb-4
            .card-header.bg-dark
                h3.text-white Overview
            .card-body.p-2.mb-4(data-sal="fade", data-sal-delay="300", data-sal-duration="500")
                #covidWorldMap(style="height:50vh")
                .row.justify-content-md-center.pt-2
                    .col-md-3.col-sm-6.mb-3
                        .card.h-100.bg-secondary.border-0(data-sal="fade")
                            .card-body
                                h3.text-white-75.mb-2 Confirmed
                                    img.text-white-50.float-right(src="../../assets/img/icons/icon_confirmed.svg", style="width:48px;height:48px;", onerror="this.onerror=null;")
                                #number-confirmed.display-4.text-white.mb-2
                                .d-flex.justify-content-between
                                    #today-confirmed.text-white-75 Loading stat...
                                    #per-confirmed.text-white-75.small 
                    .col-md-3.col-sm-6.mb-3
                        .card.h-100.bg-dark.border-0(data-sal="fade")
                            .card-body
                                h3.text-white-75.mb-2 Active
                                    img.text-white-50.float-right(src="../../assets/img/icons/icon_active.svg", style="width:48px;height:48px;", onerror="this.onerror=null;")
                                #number-active.display-4.text-white.mb-2
                                #per-active.text-white-75 Loading stat...
                    .col-md-3.col-sm-6.mb-3
                        .card.h-100.bg-success.border-0(data-sal="fade")
                            .card-body
                                h3.text-white-75.mb-2 Recovered
                                    img.text-white-50.float-right(src="../../assets/img/icons/icon_recovered.svg", style="width:48px;height:48px;", onerror="this.onerror=null;")
                                #number-recovered.display-4.text-white.mb-2
                                #per-recovered.text-white-75 Loading stat...
                    .col-md-3.col-sm-6.mb-3
                        .card.h-100.bg-danger.border-0(data-sal="fade")
                            .card-body
                                h3.text-white-75.mb-2 Deaths
                                    img.text-white-50.float-right(src="../../assets/img/icons/icon_death.svg", style="width:48px;height:48px;", onerror="this.onerror=null;")
                                    #number-deaths.display-4.text-white.mb-2 
                                .d-flex.justify-content-between
                                    #today-deaths.text-white-75 Loading stat...
                                    #per-deaths.text-white-75.small 
                    .col-sm-12.p-0
                        #last-updated.text-center
                        a.small.float-right.mr-2(href="https://disease.sh/" target="_blank")
                            | Data source 
                            i.icon-new-tab.ml-1
        .row
            .col-sm-12
                .card.pb-2.mb-4(style="background-color: #191a1a !important;")
                    .card-header.bg-dark
                        h3.text-white Timeline of Confirmed Cases
                    .card-body#flourish-bar-chart-race.mx-auto.p-2(data-sal="fade", data-sal-delay="300", data-sal-duration="500")
                        .flourish-embed.flourish-bar-chart-race( data-src='visualisation/2293729', data-url='https://flo.uri.sh/visualisation/2293729/embed')
            .col-sm-12
                .card.pb-2.mb-4
                    .card-header.bg-dark
                        h3.text-white Line Chart
                    .card-body(style="background-color: #191a1a !important;", data-sal="fade", data-sal-delay="100", data-sal-duration="500")
                        .row.d-flex.justify-content-md-center
                            .col-sm-12.col-md-9.p-0
                                canvas#myChart.tuatara.p-1(width='100%', height='30rem')
                            .col-sm-12.col-md-2.pl-md-4
                                .row.justify-content-between
                                    .col.mt-2
                                        p.font-italic.font-weight-300.text-left.mt-4.mb-2 By Time
                                        .custom-control.custom-radio.custom-control-solid.text-white
                                            input#sinceBeginning.custom-control-input(type='radio', name='timeframe', value="beginning")
                                            label.custom-control-label(for='sinceBeginning') Beginning
                                        .custom-control.custom-radio.custom-control-solid.text-white
                                            input#sinceMonth.custom-control-input(type='radio', name='timeframe' ,value="month", checked)
                                            label.custom-control-label(for='sinceMonth') 1 Month
                                        .custom-control.custom-radio.custom-control-solid.text-white
                                            input#sinceWeeks.custom-control-input(type='radio', name='timeframe', value="weeks")
                                            label.custom-control-label(for='sinceWeeks') 2 Weeks
                                    .col.mt-2
                                        p.font-italic.font-weight-300.text-left.mt-4.mb-2 By Case
                                        .custom-control.custom-radio.custom-control-solid.text-white
                                            input#confirmedRadio.custom-control-input(type='radio', name='caseTypeRadio', value="confirmed" checked)
                                            label.custom-control-label(for='confirmedRadio') Confirmed 
                                        .custom-control.custom-radio.custom-control-solid.text-white
                                            input#recoveredRadio.custom-control-input(type='radio', name='caseTypeRadio', value="recovered")
                                            label.custom-control-label(for='recoveredRadio') Recovered
                                        .custom-control.custom-radio.custom-control-solid.text-white
                                            input#deathsRadio.custom-control-input(type='radio', name='caseTypeRadio', value="deaths")
                                            label.custom-control-label(for='deathsRadio') Deaths
                                    .col.mt-2
                                        p.font-italic.font-weight-300.text-left.mt-4.mb-2 By Chart
                                        .custom-control.custom-radio.custom-control-solid.text-white
                                            input#barRadio.custom-control-input(type='radio', name='chartTypeRadio' value="bar", checked)
                                            label.custom-control-label(for='barRadio') Bar 
                                        .custom-control.custom-radio.custom-control-solid.text-white
                                            input#lineRadio.custom-control-input(type='radio', name='chartTypeRadio', value="line")
                                            label.custom-control-label(for='lineRadio') Line
                                    .col.mt-2
                                        p.font-italic.font-weight-300.text-left.mt-4.mb-2 By Chart Scale
                                        .custom-control.custom-radio.custom-control-solid.text-white
                                            input#linearRadio.custom-control-input(type='radio', name='scaleTypeRadio', value="linear" checked, disabled)
                                            label.custom-control-label(for='linearRadio') Linear 
                                        .custom-control.custom-radio.custom-control-solid.text-white
                                            input#logarithmicRadio.custom-control-input(type='radio', name='scaleTypeRadio',value="logarithmic", disabled )
                                            label.custom-control-label(for='logarithmicRadio') Logarithmic
                                .row
                                    .col.mt-2
                                        p.font-italic.font-weight-300.text-left.mb-1.text-white
                                            | See country specific data
                                        .select.w-100
                                            select#ddChartCountries
                                                option(value="global" selected) Global
                    a.small.w-100.text-right.pt-2.mr-2(href="https://covidtracking.com/" target="_blank")
                        | Data source 
                        i.icon-new-tab.ml-1
            .col-sm-12
                .card.pb-2.mb-4
                    .card-header.bg-dark
                        h3.text-white Datatable 
                    .card-body(data-sal="fade", data-sal-delay="300", data-sal-duration="500")
                        .row.justify-content-between
                            .col-sm-12
                                p.pb-4 The cases in the below table gets updated in approximately 24 hours.
                        include includes/datatables/datatable-dashboard.pug
                    a.small.w-100.text-right.pt-2.mr-2(href="https://disease.sh/" target="_blank")
                        | Data source 
                        i.icon-new-tab.ml-1
            .col-sm-12
                .card.mb-4
                    .card-header.bg-dark
                        h5.text-white In The Press
                    .card-body
                        .row.d-flex.justify-content-between
                            .col-sm-12.col-md-8.pr-md-5
                                .card.mt-4.mb-2.right-panel-reports-container.border-top-0.border-right-0.border-bottom-0.border-left-0.px-0(data-sal="fade")
                                    h4.card-title.p-3.text-dark.bg-light News
                                    p.font-italic.font-weight-300.text-left.mb-1
                                        small Select a region
                                    .select
                                        select#selectNewsRegion
                                            option(value="global" selected) Global
                                    .text-gray-600.small#news-results-number.pt-1.pl-3
                                    #card-deck.my-2.pr-md-2
                                    a.small.w-100.text-right.pt-2.mr-2(href="https://smartable.ai/" target="_blank") 
                                        | Data Source
                                        i.icon-new-tab.ml-1
                            .col-sm-12.col-md-4.px-0
                                .card.mt-4.mb-2.right-panel-reports-container.border-top-0.border-right-0.border-bottom-0.border-left-0.px-0(data-sal="fade")
                                    h4.card-title.p-3.text-dark.bg-light WHO Situation Reports
                                    .list-group.list-group-flush#right-panel-reports.mr-md-2
                                    a.small.w-100.text-right.pt-2.mr-2(href="https://covid19-docs.chrismichael.now.sh/" target="_blank") 
                                        | Data Source 
                                        i.icon-new-tab.ml-1  
append scripts
    script(src='https://public.flourish.studio/resources/embed.js')
    script(src='https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js', crossorigin='anonymous')
    script(src='https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js', crossorigin='anonymous')
    script(src='js/dashboard.min.js')

    //- script(src='js/utilities.js')
    //- script(src='js/dashboard.js')
    //- script(src='js/scripts.js')
