extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'nav-fixed'
    - var pageTitle = 'COVID19 World Dashboard'
    - var sidenavStyle = 'sidenav-light'
    - var pageHeaderStyle = 'page-header-dark'
    - var pageHeaderBackground = 'bg-gradient-primary-to-secondary'
    - var footerStyle = 'footer-dark bg-dark'
    - var topNavRegion = 'world'

    style(type='text/css').

        @-webkit-keyframes rotating {
            from {
                -webkit-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            to {
                -webkit-transform: rotate(360deg);
                -o-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        @keyframes rotating {
            from {
                -ms-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            to {
                -ms-transform: rotate(360deg);
                -moz-transform: rotate(360deg);
                -webkit-transform: rotate(360deg);
                -o-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        .rotating {
            -webkit-animation: rotating 3s linear infinite;
            -moz-animation: rotating 3s linear infinite;
            -ms-animation: rotating 3s linear infinite;
            -o-animation: rotating 3s linear infinite;
            animation: rotating 3s linear infinite;
        }
append css
    link(href='https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css', rel='stylesheet', crossorigin='anonymous')
    include includes/world-map-js.pug

block content
    .container-fluid.mt-4
        .card.pb-2
            .card-header.bg-dark
                h3.text-white Overview
            .card-body.p-2
                #covidWorldMap(style="height:50vh")    
                .row.justify-content-md-center.pb-5.pt-5
                    .col-md-3.col-sm-6.mb-3
                        .card.bg-secondary.border-0
                            .card-body
                                h3.text-white-75 Confirmed
                                    i.text-white-50.float-right.fas.fa-lg.fa-viruses
                                .mb-4
                                    #number-confirmed.display-4.text-white
                                    #per-confirmed.text-white-75.float-right Loading numbers..
                    .col-md-3.col-sm-6.mb-3
                        .card.bg-dark.border-0
                            .card-body
                                h3.text-white-75 Active
                                    i.text-white-50.float-right.fas.fa-lg.fa-clinic-medical
                                .mb-4
                                    #number-active.display-4.text-white
                                    #per-active.text-white-75.float-right Loading numbers..
                    .col-md-3.col-sm-6.mb-3
                        .card.bg-success.border-0
                            .card-body
                                h3.text-white-75 Recovered
                                    i.text-white-50.float-right.fas.fa-lg.fa-house-user
                                .mb-4
                                    #number-recovered.display-4.text-white
                                    #per-recovered.text-white-75.float-right Loading numbers..
                    .col-md-3.col-sm-6.mb-3
                        .card.bg-danger.border-0
                            .card-body
                                h3.text-white-75 Deaths
                                    i.text-white-50.float-right.fas.fa-lg.fa-bed
                                .mb-4
                                    #number-deaths.display-4.text-white
                                    #per-deaths.text-white-75.float-right Loading numbers..
                    .col-sm-12.p-0.text-center
                        #last-updated
                        
            .card-header.bg-dark
                h3.text-white Bar Chart
            .card-body   
                .row.justify-content-md-center.pb-5(style="position:relative")
                        .chart-line
                            canvas#myDashboardChart.table
                        .card#card-legend
                            .card-body(style="padding:0.5rem")
                                .row
                                    .col.text-center
                                        p.font-italic.font-weight-300.text-left.mb-1
                                            small Select a region
                                        .select(style="width:20rem")
                                            select#selectRegion
                                                option(value="worldwide" selected) Worldwide
                                .row#legend-numbers.d-none.justify-content-around.pb-1.pt-1.text-center.border-bottom
                                    .col(style="padding:0.5rem")
                                        p.mb-1
                                            small.font-weight-light.mb-1 Active
                                        p#legend-active.card-text.text-dark
                                    .col(style="padding:0.5rem")
                                        p.mb-1
                                            small.font-weight-light.mb-1 Recovered
                                        p#legend-recovered.card-text.text-dark
                                    .col(style="padding:0.5rem")
                                        p.mb-1
                                            small.font-weight-light.mb-1 Deaths
                                        p#legend-deaths.card-text.text-dark
                                    .col(style="padding:0.5rem")
                                        p.mb-1
                                            small.font-weight-light.mb-1 Confirmed
                                        p#legend-confirmed.card-text.text-dark
                                p.card-text.float-right.mt-1
                                    small.text-muted#last-updated-legend.font-weight-light

            .card-header.bg-dark
                h3.text-white Datatable 
            .card-body
                .row.justify-content-between
                    .col-md-8.col-sm-12
                        p.pb-4 The cases in the below table gets updated in approximately 24hours. Last updated 
                            strong#last-updated-datatable.text-gray-700 ...
                    .col-md-4.col-sm-12.pb-2.text-md-right.text-sm-left.pr-0.pl-0
                        p.mb-1
                            small
                                strong New Cases: 
                                span.ge-2-lt-5.bg-yellow-200
                                | &ge; 2% and &lt; 5%
                                span.ge-5-lt-8.bg-yellow-500.ml-2
                                | &ge; 5% and &lt; 8
                                span.ge-8.bg-yellow-900.ml-2
                                | &ge; 8%
                        p.mb-1
                            small 
                                strong New Deaths: 
                                span.ge-2-lt-5.bg-red-200
                                | &ge; 2% and &lt; 5%
                                span.ge-5-lt-8.bg-red-500.ml-2
                                | &ge; 5% and &lt; 8
                                span.ge-8.bg-red-900.ml-2
                                | &ge; 8%
                        p.mb-1
                            small 
                                strong New Recovered: 
                                span.ge-2-lt-5.bg-green-200
                                | &ge; 2% and &lt; 5%
                                span.ge-5-lt-8.bg-green-500.ml-2
                                | &ge; 5% and &lt; 8
                                span.ge-8.bg-green-900.ml-2
                                | &ge; 8%
                                
                    include includes/datatables/datatable-dashboard.pug         
append scripts
    script(src='https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js', crossorigin='anonymous')
    script(src='https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js', crossorigin='anonymous')
    script(src='js/dashboard.js')
