extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'nav-fixed'
    - var pageTitle = 'COVID-19 Global Dashboard'
    - var pageHeaderStyle = 'page-header-dark'
    - var pageHeaderBackground = 'bg-gradient-primary-to-secondary'
    - var footerStyle = 'footer-dark bg-dark'
    - var topNavRegionTitle = 'COVID-19'
    - var topNavRegionSubTitle = 'Global Dashboard'
    - var metaTitle = 'The COVID-19 Global Dashboard'
    - var metaDescription = 'As the virus that causes COVID-19 spreads worldwide, this dashboard seeks to offer a one-stop snapshot of confirmed cases globally, with country specific data, news and advisories.'
    
append css
    link(href='css/styles.min.css', rel='stylesheet')
block content
    .container-fluid.mt-4
        .card.mb-4
            .col-sm-12
                .card.mb-4
                    .card-header.bg-dark.d-block
                        h5.text-white.mb-0  Top COVID-19 related News
                    .card-body.px-md-5(style="position:relative;")
                        p.font-italic.font-weight-300.text-left.mb-1
                            small Select a region
                        #news-results-number.p-3.text-gray-600.small
                        .row.news-deck-outer
                            .news-deck-inner#card-deck.card-deck.mt-2.mb-0(style="flex-flow: initial;")
                        div.deck-control-left.arrow.d-sm-none.d-md-flex
                            span.icon-circle-left
                        div.deck-control-right.arrow.d-sm-none.d-md-flex
                            span.icon-circle-right
                    p.small.pt-2.pr-2.mb-1.text-right
                        em Data derived from&nbsp;
                            a.w-100.pt-2(href="https://smartable.ai/" target="_blank") Smartable AI
                                i.icon-new-tab.ml-1
    

append scripts
    script(src='js/utilities.js')
    script(src='js/news.js')
    script(src='js/scripts.js')