extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'nav-fixed sidenav-toggled'
    - var pageTitle = 'Dashboard'
    - var pageIcon = 'activity'
    - var pageSummary = 'Example dashboard overview and content summary'
    - var sidenavStyle = 'sidenav-light'
    - var topnavStyle = 'navbar-light bg-white'
    - var pageHeaderStyle = 'page-header-dark'
    - var pageHeaderBackground = 'bg-gradient-primary-to-secondary'
    - var footerStyle = 'footer-light'

append css
    link(href='https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css', rel='stylesheet', crossorigin='anonymous')

block content
    .page-header.pb-10(class=pageHeaderStyle, class=pageHeaderBackground)
        .container-fluid
            .row
                .col-xl-6.col-md-12
                    .page-header-content
                        h1.page-header-title
                            .page-header-icon
                                i(data-feather=pageIcon)
                            span 
                                | COVID19
                        .page-header-subtitle
                            | A comprehensive place for stats

    .container-fluid.mt-n10
        //- Example Overview Card
        //- Pill navigation card with charts and dataTables included within tab panes
        .card.mb-4
            .card-header
                ul.nav.nav-pills.card-header-pills#cardPill(role='tablist')
                    li.nav-item
                        a.nav-link.active#overview-pill(href='#overviewPill', data-toggle='tab', role='tab', aria-controls='overview', aria-selected='true') World Overview
                    li.nav-item
                        a.nav-link#activities-pill(href='#activitiesPill', data-toggle='tab', role='tab', aria-controls='activities', aria-selected='false') World Data Table
            .card-body
                .tab-content#cardPillContent
                    .tab-pane.fade.show.active#overviewPill(role='tabpanel', aria-labelledby='overview-pill')
                        .row
                            .col-lg-8
                                #covidWorldMap(width='100%', height="100%")
                            .col-lg-4
                                .card.mb-4
                                    .card-header
                                        | World Stats
                                    .list-group.list-group-flush.small#worldStatistics

                    .tab-pane.fade#activitiesPill(role='tabpanel', aria-labelledby='activities-pill')
                        include includes/datatables/datatable-world.pug

        .card.mb-4
            .card-header
                ul.nav.nav-pills.card-header-pills.active#cardUsaPill(role='tablist')
                    li.nav-item
                        a.nav-link.active#covidUsa-pill(href='#covidUsaPill', data-toggle='tab', role='tab', aria-controls='covidUsa', aria-selected='true') USA Overview
                    li.nav-item
                        a.nav-link#usaDataTable-pill(href='#usaDataTable', data-toggle='tab', role='tab', aria-controls='usaDataTable', aria-selected='false') USA Data Table
            .card-body
                .tab-content#cardUsaPillContent
                    .tab-pane.fade.show.active#covidUsaPill(role='tabpanel', aria-labelledby='covidUsa-pill')
                        .row
                            .col-lg-8
                                #covidUsaChart(width='100%', height='100%')
                            .col-lg-4
                                .card.mb-4
                                    .card-header
                                        | Stats
                                    .list-group.list-group-flush.small#usaStatistics

                    .tab-pane.fade#usaDataTable(role='tabpanel', aria-labelledby='usaDataTable-pill')
                        include includes/datatables/datatable-usa.pug
        //- Example Charts for Dashboard Demo
        .row
            .col-md-6
                .card.mb-4
                    .card-header Area Chart Example
                    .card-body
                        .chart-area
                            canvas#myAreaChart(width='100%', height='30')
            .col-md-6
                .card.mb-4
                    .card-header Bar Chart Example
                    .card-body
                        .chart-bar
                            canvas#myBarChart(width='100%', height='30')
            
        .row
            .col-md-12
                .card.mb-4
                    .card-header Cases Overtime
                    .card-body
                        .card-title
                            | Number of positive, death and recovered cases overtime for USA, China, Italy and Spain since 
                            span.date-since-historical
                        .card-subtitle.mb-2.text-muted.text-center.small.mt-4
                            | Click on the country box to show/hide respective graph
                        .chart-line
                            canvas#myLineChart(width='100%', height='30')
                        .select
                            select#chartType
                                option(value="cases" selected) Cases
                                option(value="death") Death
                                option(value="recovered") Recovered
        //- Example DataTable for Dashboard Demo
        .card.mb-4.card-header-actions
            .card-header
                | DataTable Example
                .text-md-right.small.text-muted
                    | Data from John Hopkins University
                    <br/>
                    | Last updated
            .card-body

append scripts
    script(src='js/chart.js', type="text/javascript")
    //- Load Chart.js via CDN
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js', crossorigin='anonymous')
    //- script(src='https://cdn.jsdelivr.net/npm/hammerjs@2.0.8', crossorigin='anonymous')
    //- script(src='https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.4', crossorigin='anonymous')
    //- script(src='assets/demo/chart-line.js')
    //- script(src='https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js', crossorigin='anonymous')
    //- script(src='https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js', crossorigin='anonymous')


    