extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'nav-fixed sidenav-toggled'
    - var pageTitle = 'Tables'
    - var pageIcon = 'filter'
    - var pageSummary = 'An extended version of the DataTables library, customized for COVID19 Pro'
    - var sidenavStyle = 'sidenav-light'
    - var topnavStyle = 'navbar-light bg-white'
    - var pageHeaderStyle = 'page-header-dark'
    - var pageHeaderBackground = 'bg-gradient-primary-to-secondary'
    - var footerStyle = 'footer-light'

append css
    link(href='https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css', rel='stylesheet', crossorigin='anonymous')

block content
    include includes/page-header
        //- Sidenav Toggle Button
        button#sidebarToggle.btn.btn-icon.btn-transparent-dark.order-1.order-lg-0.mr-lg-2(href='#')
            i(data-feather='menu')
    .container-fluid.mt-n10
        .card.mb-2
            .card-body        
                .row.justify-content-md-center
                    .col-md-3.col-sm-12.mb-3
                        .card.bg-dark.border-0
                            .card-body
                                h3.text-white-75 Active
                                    i.text-white-50.float-right.fas.fa-lg.fa-hospital-symbol
                                .mb-4
                                    #number-active.display-4.text-white
                                    #per-active.text-white-75.float-right Loading numbers..
                    .col-md-3.col-sm-12.mb-3
                        .card.bg-secondary.border-0
                            .card-body
                                h3.text-white-75 Confirmed
                                     i.text-white-50.float-right.fas.fa-lg.fa-lungs-virus
                                .mb-4
                                    #number-confirmed.display-4.text-white
                                    #per-confirmed.text-white-75.float-right Loading numbers..
                    .col-md-3.col-sm-12.mb-3
                        .card.bg-success.border-0
                            .card-body
                                h3.text-white-75 Recovered
                                    i.text-white-50.float-right.fas.fa-lg.fa-house-user
                                .mb-4
                                    #number-recovered.display-4.text-white
                                    #per-recovered.text-white-75.float-right Loading numbers..
                    .col-md-3.col-sm-12.mb-3
                        .card.bg-danger.border-0
                            .card-body
                                h3.text-white-75 Deaths
                                    i.text-white-50.float-right.fas.fa-lg.fa-bed
                                .mb-4
                                    #number-deaths.display-4.text-white
                                    #per-deaths.text-white-75.float-right Loading numbers..
                    .col-sm-12.text-center.text-muted
                                    span Last Updated on 
                                    span#last-updated.text-gray-600
        .card.mb-4
            .card-header Extended DataTables
            .card-body
                .row.justify-content-between
                    .col-md-8.col-sm-12
                        h6.mb-2.text-muted.lead The new cases gets update everyday. Hover over to see the exact time of update.
                    .col-md-4.col-sm-12.pb-2.text-right
                        p.mb-1
                            small
                                strong New Cases: 
                                span.ge-2-lt-5.bg-yellow-200
                                | &ge; 2% and &lt; 5%
                                span.ge-5-lt-8.bg-yellow-500.ml-2
                                | &ge; 5% and &lt; 8
                                span.ge-8.bg-yellow-900.ml-2
                                | &ge; 8%
                        p.mb-1
                            small 
                                strong New Deaths: 
                                span.ge-2-lt-5.bg-red-200
                                | &ge; 2% and &lt; 5%
                                span.ge-5-lt-8.bg-red-500.ml-2
                                | &ge; 5% and &lt; 8
                                span.ge-8.bg-red-900.ml-2
                                | &ge; 8%
                        p.mb-1
                            small 
                                strong New Recovered: 
                                span.ge-2-lt-5.bg-green-200
                                | &ge; 2% and &lt; 5%
                                span.ge-5-lt-8.bg-green-500.ml-2
                                | &ge; 5% and &lt; 8
                                span.ge-8.bg-green-900.ml-2
                                | &ge; 8%
                include includes/datatable-example.pug
append scripts    
    script(src='https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js', crossorigin='anonymous')
    script(src='https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js', crossorigin='anonymous')
    script(src='js/news.js')
