extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'nav-fixed'
    - var pageTitle = 'COVID-19 USA Dashboard'
    - var topnavStyle = 'navbar-light bg-white'
    - var pageHeaderStyle = 'page-header-dark'
    - var pageHeaderBackground = 'bg-gradient-primary-to-secondary'
    - var footerStyle = 'footer-dark bg-dark'
    - var topNavRegionTitle = 'COVID-19'
    - var topNavRegionSubTitle = 'USA Dashboard'
    - var metaTitle = 'The COVID-19 USA Dashboard'
    - var metaDescription = 'As the virus that causes COVID-19 spreads worldwide, this dashboard seeks to offer a one-stop snapshot of confirmed cases globally, with country specific data, news and advisories.'
    - var stateNameCode = [{"code":"US-AL","name":"Alabama"},{"code":"US-AK","name":"Alaska"},{"code":"US-AS","name":"American Samoa"},{"code":"US-AZ","name":"Arizona"},{"code":"US-AR","name":"Arkansas"},{"code":"US-CA","name":"California"},{"code":"US-CO","name":"Colorado"},{"code":"US-CT","name":"Connecticut"},{"code":"US-DE","name":"Delaware"},{"code":"US-DC","name":"District of Columbia"},{"code":"US-FL","name":"Florida"},{"code":"US-GA","name":"Georgia"},{"code":"US-GU","name":"Guam"},{"code":"US-HI","name":"Hawaii"},{"code":"US-ID","name":"Idaho"},{"code":"US-IL","name":"Illinois"},{"code":"US-IN","name":"Indiana"},{"code":"US-IA","name":"Iowa"},{"code":"US-KS","name":"Kansas"},{"code":"US-KY","name":"Kentucky"},{"code":"US-LA","name":"Louisiana"},{"code":"US-ME","name":"Maine"},{"code":"US-MD","name":"Maryland"},{"code":"US-MA","name":"Massachusetts"},{"code":"US-MI","name":"Michigan"},{"code":"US-MN","name":"Minnesota"},{"code":"US-MS","name":"Mississippi"},{"code":"US-MO","name":"Missouri"},{"code":"US-MT","name":"Montana"},{"code":"US-NE","name":"Nebraska"},{"code":"US-NV","name":"Nevada"},{"code":"US-NH","name":"New Hampshire"},{"code":"US-NJ","name":"New Jersey"},{"code":"US-NM","name":"New Mexico"},{"code":"US-NY","name":"New York"},{"code":"US-NC","name":"North Carolina"},{"code":"US-ND","name":"North Dakota"},{"code":"US-MP","name":"Northern Mariana Islands"},{"code":"US-OH","name":"Ohio"},{"code":"US-OK","name":"Oklahoma"},{"code":"US-OR","name":"Oregon"},{"code":"US-PA","name":"Pennsylvania"},{"code":"US-PR","name":"Puerto Rico"},{"code":"US-RI","name":"Rhode Island"},{"code":"US-SC","name":"South Carolina"},{"code":"US-SD","name":"South Dakota"},{"code":"US-TN","name":"Tennessee"},{"code":"US-TX","name":"Texas"},{"code":"US-UM","name":"U.S. Minor Outlying Islands"},{"code":"US-VI","name":"U.S. Virgin Islands"},{"code":"US-UT","name":"Utah"},{"code":"US-VT","name":"Vermont"},{"code":"US-VA","name":"Virginia"},{"code":"US-WA","name":"Washington"},{"code":"US-WV","name":"West Virginia"},{"code":"US-WI","name":"Wisconsin"},{"code":"US-WY","name":"Wyoming"}]
    
append css
    include us-map-js.pug
    link(href='css/styles.min.css', rel='stylesheet')
    link(href='https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css', rel='stylesheet', crossorigin='anonymous')
block content
    .container-fluid.mt-4
        .card.mb-4
            .card-header.bg-dark.d-block
                h3.text-white.mb-0 Cases in the USA
                p.text-white.text-muted.mb-0.pt-1 Tap/hover on the marker for more information
            .card-body.p-3
                #covidCountryMap(style="height:60vh")
                #last-updated.text-center.pt-3.pb-1
                .row.justify-content-center.p-0.pt-2
                    .card-stats.col-md-3
                        .card.h-100.bg-dark.border-0
                            .card-body
                                h3.text-white-75.mb-3.d-inline-block Confirmed
                                img.text-white-50.float-right(src="../../assets/img/icons/icon_confirmed.svg", onerror="this.onerror=null;")
                                #number-confirmed.text-white.mb-0
                                .d-flex.justify-content-start.align-items-center
                                    #today-confirmed.text-white-75 Loading stat...
                                    span &nbsp;
                                    #per-confirmed.text-white-75.small
                    .card-stats.col-md-3
                        .card.h-100.bg-secondary.border-0
                            .card-body
                                h3.text-white-75.mb-3.d-inline-block Active
                                img.text-white-50.float-right(src="../../assets/img/icons/icon_active.svg", onerror="this.onerror=null;")
                                #number-active.text-white.mb-0
                                #per-active.text-white-75 Loading stat...
                    .card-stats.col-md-3
                        .card.h-100.bg-success.border-0
                            .card-body
                                h3.text-white-75.mb-3.d-inline-block Recovered
                                img.text-white-50.float-right(src="../../assets/img/icons/icon_recovered.svg", onerror="this.onerror=null;")
                                #number-recovered.text-white.mb-0
                                .d-flex.justify-content-start.align-items-center
                                    #today-recovered.text-white-75 Loading stat...
                                    span &nbsp;
                                    #per-recovered.text-white-75 
                    .card-stats.col-md-3
                        .card.h-100.bg-danger.border-0
                            .card-body
                                h3.text-white-75.mb-3.d-inline-block Deaths
                                img.text-white-50.float-right(src="../../assets/img/icons/icon_death.svg", onerror="this.onerror=null;")
                                #number-deaths.text-white.mb-0 
                                .d-flex.justify-content-start.align-items-center
                                    #today-deaths.text-white-75 Loading stat...
                                    span &nbsp;
                                    #per-deaths.text-white-75.small
                    .col-sm-12.p-0
                        p.small.pt-2.pr-2.mb-0.text-right
                            em Data derived from&nbsp;
                                a.w-100.pt-2(href="https://about-corona.net/" target="_blank") about-corona
                                    i.icon-new-tab.ml-1
        .row
            //- .col-lg-12
            //-     .card.mb-4
            //-         .card-header.bg-dark.d-block
            //-             h3.text-white.mb-0 Distribution in States
            //-         .card-body
            //-             .row
            //-                 .col-lg-4.px-0
            //-                     .chart-pie
            //-                         canvas#pie-chart-total-cases(width='100%', height='50px')
            //-                 .col-lg-4.px-0
            //-                     .chart-pie
            //-                         canvas#pie-chart-hospitliazed(width='100%', height='50')
            //-                 .col-lg-4
            //-                     p.font-italic.font-weight-300.text-left.mb-1
            //-                         small Select a region
            //-                     .select.w-100
            //-                         select#selectRegion
            //-                             option(value="usa" selected) USA
            //-                     .list-group.list-group-flush.small#pie-numbers
            //-         .card-footer.small.text-muted.justify-content-between.d-flex
            //-             #last-updated-pie
            //-             a.small.w-100.text-right.pt-2.mr-2(href="https://covidtracking.com/" target="_blank")
            //-                         | Data source 
            //-                         i.icon-new-tab.ml-1
            .col-sm-12
                .card.pb-2.mb-4
                    .card-header.bg-dark.d-block.d-block
                        h3.text-white.mb-0  Daily Trend of Cases
                        p.text-white.text-muted.mb-0.pt-1 Filter by Region, Type & Scale
                    .card-body(style="background-color: #191a1a !important;")
                        .row
                            .col-sm-12.col-md-9.p-0
                                canvas#myChart.p-1.tuatara(style="width:100%; height:30rem")
                            .col-sm-12.col-md-3.pl-md-4
                                .row.d-flex.justify-content-center.pt-2.text-white
                                    #total-date
                                .row.d-flex.justify-content-around.pb-4.pt-1.text-center.text-white.border-bottom
                                    .col.p-1
                                        p.mb-1
                                            small.font-weight-light.mb-1 Confirmed
                                        p#total-confirmed.card-text.text-dark loading...
                                    .col.p-1
                                        p.mb-1
                                            small.font-weight-light.mb-1 Recovered
                                        p#total-recovered.card-text.text-dark loading...
                                    .col.p-1
                                        p.mb-1
                                            small.font-weight-light.mb-1 Deaths
                                        p#total-deaths.card-text.text-dark loading... 
                                .d-flex.justify-content-between
                                    .col.mt-2
                                        p.font-italic.font-weight-300.text-left.mt-4.mb-2 Period
                                        .custom-control.custom-radio.custom-control-solid.text-white
                                            input#sinceBeginning.custom-control-input(type='radio', name='timeframe', value="beginning")
                                            label.custom-control-label.font-weight-300(for='sinceBeginning') From the Beginning
                                        .custom-control.custom-radio.custom-control-solid.text-white
                                            input#sinceMonth.custom-control-input(type='radio', name='timeframe' ,value="month", checked)
                                            label.custom-control-label.font-weight-300(for='sinceMonth') Recent Month
                                        .custom-control.custom-radio.custom-control-solid.text-white
                                            input#sinceWeeks.custom-control-input(type='radio', name='timeframe', value="weeks")
                                            label.custom-control-label.font-weight-300(for='sinceWeeks') Recent 2 Weeks
                                    .col.mt-2
                                        p.font-italic.font-weight-300.text-left.mt-4.mb-2 Case Type
                                        .custom-control.custom-radio.custom-control-solid.text-white
                                            input#confirmedRadio.custom-control-input(type='radio', name='caseTypeRadio', value="confirmed" checked)
                                            label.custom-control-label.font-weight-300(for='confirmedRadio') Confirmed 
                                        .custom-control.custom-radio.custom-control-solid.text-white
                                            input#recoveredRadio.custom-control-input(type='radio', name='caseTypeRadio', value="recovered")
                                            label.custom-control-label.font-weight-300(for='recoveredRadio') Recovered
                                        .custom-control.custom-radio.custom-control-solid.text-white
                                            input#deathsRadio.custom-control-input(type='radio', name='caseTypeRadio', value="deaths")
                                            label.custom-control-label.font-weight-300(for='deathsRadio') Deaths
                                .d-flex.justify-content-between
                                    .col.mt-2
                                        p.font-italic.font-weight-300.text-left.mt-4.mb-2 Chart Type
                                        .custom-control.custom-radio.custom-control-solid.text-white
                                            input#barRadio.custom-control-input(type='radio', name='chartTypeRadio' value="bar", checked)
                                            label.custom-control-label.font-weight-300(for='barRadio') Bar 
                                        .custom-control.custom-radio.custom-control-solid.text-white
                                            input#lineRadio.custom-control-input(type='radio', name='chartTypeRadio', value="line")
                                            label.custom-control-label.font-weight-300(for='lineRadio') Line
                                    .col.mt-2
                                        p.font-italic.font-weight-300.text-left.mt-4.mb-2 Scale
                                        .custom-control.custom-radio.custom-control-solid.text-white
                                            input#linearRadio.custom-control-input(type='radio', name='scaleTypeRadio', value="linear" checked)
                                            label.custom-control-label.font-weight-300(for='linearRadio') Linear 
                                        .custom-control.custom-radio.custom-control-solid.text-white
                                            input#logarithmicRadio.custom-control-input(type='radio', name='scaleTypeRadio',value="logarithmic" )
                                            label.custom-control-label.font-weight-300(for='logarithmicRadio') Logarithmic
                    p.small.pt-2.pr-2.mb-0.text-right
                        em Data derived from&nbsp;
                            a.w-100.pt-2(href="https://about-corona.net/" target="_blank") about-corona
                                i.icon-new-tab.ml-1
            .col-sm-12
                .card.pb-2.mb-4
                    .card-header.bg-dark.d-block
                        h3.text-white.mb-0 Cases by States and Counties
                    .card-body.pb-2
                        include includes/datatables/datatable-country.pug
                    p.small.pt-2.pr-2.mb-0.text-right
                        em Data derived from&nbsp;
                            a.w-100.pt-2(href="https://corona.lmao.ninja/" target="_blank") Novel COVID API
                                i.icon-new-tab.ml-1
            .col-sm-12
                .card.mb-4
                    .card-header.bg-dark.d-block
                        h5.text-white.mb-0  Top COVID-19 related News
                    .card-body.px-md-5(style="position:relative;")
                        p.font-italic.font-weight-300.text-left.mb-1
                            small Select a region
                        .select.w-50
                            select#selectNewsRegion
                                option(value="US" selected) USA
                                each state in stateNameCode
                                    option(value=state.code) #{state.name}
                        #news-results-number.p-3.text-gray-600.small
                        .row.news-deck-outer
                            .news-deck-inner#card-deck.card-deck.mt-2.mb-0(style="flex-flow: initial;")
                                .card.h-100.lift.mx-md-3.mx-2
                                    .card-body
                                        h5.card-title.mb-2
                                            i.icon-spinner.spinner-animate
                        .deck-control-left.arrow.d-sm-none.d-md-flex
                            span.icon-circle-left
                        .deck-control-right.arrow.d-sm-none.d-md-flex
                            span.icon-circle-right
                    p.small.pt-2.pr-2.mb-1.text-right
                        em Data derived from&nbsp;
                            a.w-100.pt-2(href="https://smartable.ai/" target="_blank") Smartable AI
                                i.icon-new-tab.ml-1
        .row
            .col-sm-12
                .card.pb-2.mb-4
                    .card-body
                        .d-flex.flex-column.bd-highlight.mb-0
                            h2.pb-2.mb-2.border-bottom Quick Links
                            ul
                                li.py-1.bd-highlight
                                    a(href="/") Global Dashboard
                                li.py-1.bd-highlight
                                    a(href="/us-testing-locations") USA Testing Locations
                                li.py-1.bd-highlight
                                    a(href="/about") About COVID-19 & This Project
                //- Extra large modal
        .modal.fade#stateModal(tabindex='-1', role='dialog', aria-labelledby='stateModal', aria-hidden='true')
            .modal-dialog.modal-xl(role='document')
                .modal-content
                    .modal-header.bg-dark
                        h3.display-5.modal-title.text-white-75#stateName
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span.text-white-75.icon-cross(aria-hidden='true')
                    .modal-body
                        .datatable.table-responsive.pb-3#subDataTable
                            table#dataTableState.table.table-bordered.table-hover(width='100%', cellspacing='0')
                    .modal-footer
                        button.btn.btn-primary(type='button', data-dismiss='modal') Close.


append scripts
    //- Load Chart.js via CDN
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js', crossorigin='anonymous')
    script(src='https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js', crossorigin='anonymous')
    script(src='https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js', crossorigin='anonymous')
    script(src='js/us.min.js')
    //- script(src='js/utilities.js')
    //- script(src='js/us.js')
    //- script(src='js/scripts.js')
    
