extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'nav-fixed'
    - var pageTitle = 'COVID19'
    - var pageIcon = 'activity'
    - var pageSummary = 'Example dashboard overview and content summary'
    - var sidenavStyle = 'sidenav-light'
    - var topnavStyle = 'navbar-light bg-white'
    - var pageHeaderStyle = 'page-header-dark'
    - var pageHeaderBackground = 'bg-gradient-primary-to-secondary'
    - var footerStyle = 'footer-light'

    script(src='js/config.js', type="text/javascript")
    include includes/us-map-js.pug
    
append css
    link(href='https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css', rel='stylesheet', crossorigin='anonymous')
block content
    .container-fluid
         .card.pb-2
            .card-body  
                #covidCountryMap(style="height:520px")
                .chart-line
                    canvas#myCountryChart.table(style="height:30rem")
                
                //- Example card deck with image cap cards
                .card-deck
                    .card.mb-4
                        img.card-img-top(src='assets/img/drawkit/color/drawkit-charts-and-graphs.svg', alt='...')
                        .card-body
                            h5.card-title.text-primary Interactive Charts
                            p.card-text
                                | The interactive charts in this theme are powered by Chart.js, a simple, yet flexible, JavaScript charting library for designers &amp; developers.
                        a.card-footer.d-flex.align-items-center.justify-content-between(href='/charts.html')
                            | View charts
                            i(data-feather='arrow-right')
                    .card.mb-4
                        img.card-img-top(src='assets/img/drawkit/color/drawkit-developer-woman.svg', alt='...')
                        .card-body
                            h5.card-title.text-primary Documentation
                            p.card-text
                                | This theme includes code samples for each component, along with detailed documentation and usage instructions!
                        a.card-footer.d-flex.align-items-center.justify-content-between(href='https://docs.startbootstrap.com/sb-admin-pro/')
                            | View documentation
                            i(data-feather='arrow-right')
                    .card.mb-4
                        img.card-img-top(src='assets/img/drawkit/color/drawkit-folder-man.svg', alt='...')
                        .card-body
                            h5.card-title.text-primary Pre-Built Pages
                            p.card-text
                                | A number of pre-built page examples and page layouts are included with this theme to make prototyping your next web application fast and efficient!
                        a.card-footer.d-flex.align-items-center.justify-content-between(href='#!')
                            | Explore pages
                            i(data-feather='arrow-right')
                    .card.mb-4
                        img.card-img-top(src='assets/img/drawkit/color/drawkit-content-man.svg', alt='...')
                        .card-body
                            h5.card-title.text-primary Deep Customization
                            p.card-text
                                | Overried and extend the SCSS variables included with this project to deeply customize the theme to make it pefrectly fit your brand!
                        a.card-footer.d-flex.align-items-center.justify-content-between(href='#!')
                            | Learn more
                            i(data-feather='arrow-right')
                    include includes/datatables/datatable-country.pug 

append scripts
    //- Load Chart.js via CDN
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js', crossorigin='anonymous')
    //- Load custom Chart.js styling and demo data
    //- Load dataTables via CDN
    script(src='https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js', crossorigin='anonymous')
    script(src='https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js', crossorigin='anonymous')
    //- Load dataTables demo data
    script(src='js/countries/us.js')
