extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'nav-fixed'
    - var pageTitle = 'COVID19 USA'
    - var pageIcon = 'activity'
    - var pageSummary = ''
    - var sidenavStyle = 'sidenav-light'
    - var topnavStyle = 'navbar-light bg-white'
    - var pageHeaderStyle = 'page-header-dark'
    - var pageHeaderBackground = 'bg-gradient-primary-to-secondary'
    - var footerStyle = 'footer-dark bg-dark'

    include includes/us-map-js.pug
    
append css
    link(href='https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css', rel='stylesheet', crossorigin='anonymous')
block content
    include includes/page-header
    .container-fluid.mt-n10
        .card.mb-4
            .card-header USA Map
            .card-body  
                #covidCountryMap(style="height:520px")
        .row
            .col-sm-12
                .card.pb-2.mb-4
                    .card-body  
                        include includes/datatables/datatable-country.pug 
                        a.float-right(href="https://covidtracking.com/" target="_blank" style="text-decoration:underline")
                                    | Data source 
                                    i.fas.fa-external-link-alt.mr-1
            .col-lg-12
                .card.mb-4
                    .card-header Distribution in States
                    .card-body
                        .row
                            .col-lg-4
                                .chart-pie
                                    canvas#pie-chart-total-cases(width='100%', height='50px')
                            .col-lg-4
                                .chart-pie
                                    canvas#pie-chart-hospitliazed(width='100%', height='50')
                            .col-lg-4
                                p.font-italic.font-weight-300.text-left.mb-1
                                    small Select a region
                                .select(style="width:20rem")
                                    select#selectRegion
                                        option(value="usa" selected) USA
                                .list-group.list-group-flush.small#pie-numbers
                    .card-footer.small.text-muted.justify-content-between.d-flex
                        #last-updated-pie
                        a(href="https://covidtracking.com/" target="_blank" style="text-decoration:underline")
                                    | Data source 
                                    i.fas.fa-external-link-alt.mr-1
            .col-sm-12
                .card
                    .card-body
                        h2.card-title Trending Coronavirus News in USA
                        p.font-italic.font-weight-300.text-left.mb-1
                            small Select a region
                        .select(style="width:20rem")
                            select#selectNewsRegion
                                option(value="US" selected) USA
                        .row.mt-3.d-flex.justify-content-between
                            .col-sm-12.col-md-7
                                .row
                                    .text-gray-400.small#news-results-number.pl-3
                                    #card-deck.my-2
                                    a.small.w-100.text-md-right(href="https://smartable.ai/" target="_blank") 
                                        | Data Source
                                        i.fas.fa-external-link-alt.mr-1
                            .col-sm-12.col-md-4
                                .card.mt-4.mb-2.px-3.travel-notices-container.border-top-0.border-right-0.border-bottom-0.border-left-0
                                    h4.card-title 
                                        | Travel Health Notices
                                        span.float-right
                                            span.bg-red.ml-4.mr-2(style="width: 10px;height: 7px;display: inline-block;vertical-align: middle;") 
                                            span.small.text-muted Alert
                                            span.bg-yellow.ml-4.mr-2(style="width: 10px;height: 7px;display: inline-block;vertical-align: middle;") 
                                            span.small.text-muted Warning
                                            span.bg-dark.ml-4.mr-2(style="width: 10px;height: 7px;display: inline-block;vertical-align: middle;") 
                                            span.small.text-muted Watch
                                    .list-group.list-group-flush.small#travel-notices
                                    a.small.w-100.text-md-right(href="https://covid19-docs.chrismichael.now.sh/" target="_blank") 
                                        | Data Source
                                        i.fas.fa-external-link-alt.mr-1      

append scripts
    //- Load Chart.js via CDN
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js', crossorigin='anonymous')
    //- Load custom Chart.js styling and demo data
    //- Load dataTables via CDN
    script(src='https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js', crossorigin='anonymous')
    script(src='https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js', crossorigin='anonymous')
    //- Load dataTables demo data
    script(src='js/countries/us.js')
