// Base styling for the topnav

.topnav {
	height: $topnav-base-height;
	font-size: 0.9rem;
	.navbar-brand {
		padding-left: $navbar-padding-x;
		padding-right: $navbar-padding-x;
		margin: 0;
		font-size: 1rem;
		font-weight: bold;
		img {
			transition: all 3s ease-out;

			&:hover {
				transform: rotate(360deg);
			}
		}
	}
	&.navbar-dark {
		#sidebarMenu {
			color: $topnav-dark-toggler-color;
			margin: 1rem;
		}
		.navbar-brand {
			color: $white;
		}
	}
	&.navbar-light {
		#sidebarMenu {
			color: $topnav-light-toggler-color;
			margin: 1rem;
		}
		.navbar-brand {
			color: $gray-800;
		}
	}
}
