- 
    var learnMore = {
                    tab:'learn-more',
                    data:[
                            {
                                title: 'Myths vs Facts',
                                id: 'myths-facts',
                                content: [
                                    { 
                                        question: 'It’s referred to as Wuhan or Chinese Coronavirus because it happened there and it only affects those who live in that area or individuals who are Asian.',
                                        answer: '<p>In the beginning, some people referred to Novel Coronavirus as Wuhan or Chinese Coronavirus. The World Health Organization (WHO) has officially named the virus SARS-CoV2 causing the condition named COVID-19. Naming guidelines for new pathogens follow the rule of not naming them after people, places, ethnic groups, animals or foods because this can be offensive or create a stigma.</p><p>People of all ages and ethnicities, no matter where they live, can be infected with the coronavirus causing COVID-19. To protect yourself against the virus, follow good hand and respiratory hygiene (view tips on the CDC site).</p>' 
                                    },
                                    { 
                                        question: 'I should avoid coming in contact with those of Asian descent in case they have the virus.',
                                        answer: '<p>Any individual, no matter their ethnicity, can be susceptible to COVID-19. You should not be fearful of coming in contact with or being in the vicinity of someone who is of Asian descent.</p>' 
                                    },
                                    { 
                                        question: 'I can get COVID-19 from walking through an airport.',
                                        answer: '<p>Transmission of COVID-19 happens when you are in close contact (within 6 feet for more than 10 minutes) with an infected person. The risk of this occurring in an airport or other open public places is very low.</p>' 
                                    },
                                    { 
                                        question: 'My doctor can test me for COVID-19 if I am concerned about possibly having the virus.',
                                        answer: '<p>At this time, it is recommended that doctors test for COVID-19 only if the individual has symptoms, have traveled to areas with widespread transmission or have had contact with a person known or suspected to have COVID-19.</p>' 
                                    },
                                    { 
                                        question: 'It\’s not safe to eat Chinese food.',
                                        answer: '<p>It is safe to eat Chinese food. This is not affected by COVID-19.</p>' 
                                    },
                                    { 
                                        question: 'Don\'t accept packages or letters from China.',
                                        answer: '<p>It is safe to accept packages or letters from China. The new coronavirus does not survive long on objects.</p>' 
                                    },
                                    { 
                                        question: 'Wearing a mask will protect me from the virus',
                                        answer: '<p>Unless you have been told by your doctor that you should wear a mask because of a chronic medical condition, masks are not necessary. The Centers for Disease Control and Prevention recommends that only people having symptoms such as coughing, sneezing or a runny nose should wear a mask. This will help effectively prevent the spread of COVID-19. Healthy people do not require a mask.</p>' 
                                    },
                                    { 
                                        question: 'If someone is wearing a mask out in public, they probably have COVID-19.',
                                        answer: '<p>No, someone may be wearing a mask to prevent the spread of other respiratory viruses such as the seasonal flu.</p>' 
                                    },
                                    { 
                                        question: 'Spraying alcohol, chlorine or bleach all over your body will protect you from the virus.',
                                        answer: '<p>No, spraying alcohol, chlorine or bleach all over your body will not kill any viruses that have already entered your body or protect you from those who could have the virus. These substances can be used to disinfect surfaces but are harmful when directly in contact with your skin, eyes or mouth.</p>' 
                                    },
                                    { 
                                        question: 'Some disinfecting sprays and wipes will kill COVID-19 because they say on the package that they will kill coronavirus.',
                                        answer: '<p>There are several versions of coronavirus, and it is not currently proven that these sprays and wipes would kill the novel coronavirus.</p>' 
                                    },
                                    { 
                                        question: 'Gargling with mouthwash daily will protect you from the virus.',
                                        answer: '<p>No, there’s no evidence that regularly gargling with mouthwash will prevent infection with the virus.</p>' 
                                    },
                                    { 
                                        question: 'Eating garlic or sesame oil will stop me from getting the virus.',
                                        answer: '<p>No. There’s no evidence that eating these foods will prevent infection with COVID-19.</p>' 
                                    },
                                    { 
                                        question: 'COVID-19 only infects the old or the young.',
                                        answer: ' <p>People of all ages can be infected with COVID-19.</p><p>It appears that children may be less susceptible to being infected with COVID-19. Their exposure to a wide variety of different respiratory viruses circulating in daycare centers and schools may have a protective effect.</p><p>Older individuals and those with pre-existing medical conditions may be more vulnerable to this virus. To protect yourself and others against the virus, follow good hand and respiratory hygiene (view tips on the CDC site).</p>' 
                                    }
                                ]
                            }
                        ]
                    }
    
  