doctype html

block config
    - var pageTitle = "Page Title"
    - var footerStyle = "footer-light"

html(lang='en')

    head

        include includes/head/meta.pug
        include includes/head/title.pug
        include includes/head/css.pug
        include includes/head/icons.pug

    body(class=bodyClass)

        
        button#sidebarToggle.btn.btn-icon.btn-transparent-dark.order-1.order-lg-0.mr-lg-2(href='#')
            i.fa.fa-lg.fa-bars
        #layoutSidenav
            
            #layoutSidenav_nav
                include includes/navigation/sidenav.pug
            #layoutSidenav_content
                
                main

                    block content
                    
                include includes/footer.pug

        include includes/scripts.pug
