// This file is intentionally blank
// Use this file to override SCSS within the project, or to add new SCSS for creating your own CSS components
.select {
	position: relative;
	display: inline-block;
	width: 100%;
	color: #555;
	width: 25%;

	select {
		display: inline-block;
		width: 100%;
		margin: 0;
		padding: .5rem 2.25rem .5rem 1rem;
		line-height: 1.5;
		color: #555;
		background-color: #fff;
		border: 0;
		border: 1px solid #e3e6ec;
		border-radius: 0.25rem;
		cursor: pointer;
		outline: 0;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		&:hover {
			background-color: #fbfbfb;
		}
		&:focus:-moz-focusring {
			color: transparent;
			text-shadow: 0 0 0 #000;
		}
	}

	&:after {
		position: absolute;
		top: 50%;
		right: 1.25rem;
		display: inline-block;
		content: "";
		width: 0;
		height: 0;
		margin-top: -.15rem;
		pointer-events: none;
		border-top: .35rem solid;
		border-right: .35rem solid transparent;
		border-bottom: .35rem solid transparent;
		border-left: .35rem solid transparent;
	}

	select {
		&:focus {
			box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem #0074d9;
		}

		&:active {
			color: #fff;
			background-color: #0074d9;
		}

		&::-ms-expand {
			display: none;
		}
	}
}

/* Undo the Firefox inner focus ring */

/* Dropdown arrow */

/* Hover state */
/* Uncomment if you need it, but be aware of the sticky iOS states.
  .select select:hover {
	background-color: #ddd;
  }
  */

/* Focus */

/* Active/open */

/* Hide the arrow in IE10 and up */

/* Media query to target Firefox only */
@-moz-document url-prefix() {
	/* Firefox hack to hide the arrow */

	.select {
		select {
			text-indent: 0.01px;
			text-overflow: '';
			padding-right: 1rem;
		}

		option {
			background-color: white;
		}
	}

	/* <option> elements inherit styles from <select>, so reset them. */
}

/* IE9 hack to hide the arrow */
@media screen and (min-width: 0\0) {
	.select {
		select {
			z-index: 1;
			padding: .5rem 1.5rem .5rem 1rem;
		}

		&:after {
			z-index: 5;
		}

		&:before {
			position: absolute;
			top: 0;
			right: 1rem;
			bottom: 0;
			z-index: 2;
			content: "";
			display: block;
			width: 1.5rem;
			background-color: #eee;
		}

		select {
			&:hover,
			&:focus,
			&:active {
				color: #555;
				background-color: #eee;
			}
		}
	}
}
.spinner-border {
	margin: 1.2rem;
}

#card-legend {
	position: absolute;
	top: 6rem;
	left: 6rem;
	z-index: 999;
}
@media only screen and (max-width: 600px) {
	.topnav.navbar-light #sidebarMenu {
		margin: 0;
	}
	.topnav .navbar-brand {
		padding: 0;
	}
	.topnav .text-dark {
		font-size: 1rem;
		text-align: center;
	}
	.select {
		width: 100%;
		float: none;
		margin: 0 auto;
		padding-bottom: 0.75rem;
	}
	.container-fluid {
		padding-left: 0rem;
		padding-right: 0rem;
		overflow: hidden;
	}

	#card-legend {
		position: relative;
		top: 0;
		left: 0;
		box-shadow: none;
		border: none;
	}
	.footer .row.justify-content-around {
		text-align: center;

		a {
			padding: 10px 0;
		}
	}
	.map-info {
		margin-right: 10px !important;
	}
	#card-deck {
		h3 {
			font-size: 1rem;
		}
		p {
			font-size: 0.8rem;
		}
		.small {
			font-size: 0.6rem;
		}
	}
}
#myChart {
	height: 30rem !important;
}
.ge-2-lt-5,
.ge-5-lt-8,
.ge-8 {
	height: 12px;
	width: 14px;
	border-radius: 3px;
	margin-left: 2px;
	margin-right: 2px;
	display: inline-block;
}
.datatable td.bg-yellow-200,
.bg-yellow-200 {
	background-color: #fff6b7;
}
.datatable td.bg-yellow-500,
.bg-yellow-500 {
	background-color: #ffe77d;
}
.datatable td.bg-yellow-900,
.bg-yellow-900 {
	background-color: #f9d450;
}
.datatable td.bg-red-200,
.bg-red-200 {
	background-color: #ffe6de;
}
.datatable td.bg-red-500,
.bg-red-500 {
	background-color: #ffa299;
}
.datatable td.bg-red-900,
.bg-red-900 {
	background-color: #d83c2d;
	color: white !important;
}
.datatable td.bg-green-200,
.bg-green-200 {
	background-color: #d0edc6;
}
.datatable td.bg-green-500,
.bg-green-500 {
	background-color: #c1fbae;
}
.datatable td.bg-green-900,
.bg-green-900 {
	background-color: #58aa3d;
	color: white !important;
}
.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
.col-2dot4 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 20%;
	flex: 0 0 20%;
	max-width: 20%;
}
@media (min-width: 540px) {
	.col-sm-2dot4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%;
	}
}
@media (min-width: 720px) {
	.col-md-2dot4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%;
	}
}
@media (min-width: 960px) {
	.col-lg-2dot4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%;
	}
}
@media (min-width: 1140px) {
	.col-xl-2dot4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%;
	}
}
.container-percentage {
	display: block;
	font-size: 0.7em;
}
.google-visualization-tooltip-item-list .google-visualization-tooltip-item:first-child {
	margin: 0.5em 0.5em 0.5em 0 !important;
}
.google-visualization-tooltip-item {
	margin: 0 0em 0.65em 0em !important;
	padding: 0em 0.5em 0em 0.5em !important;
}
.google-visualization-tooltip-item-list {
	margin: 0.5em 0 0.5em 0;
}
.google-visualization-tooltip {
	min-width: 150px;
}

circle {
	stroke-width: 0px;
}
.google-visualization-tooltip {
	background: black !important;
	opacity: 0.9;
	border: 1px solid rgba(210, 26, 26, 0.4) !important;
	box-shadow: 0px 2px 2px 0px rgba(210, 26, 26, 0.4) !important;
	-moz-box-shadow: 0px 2px 2px 0px rgba(210, 26, 26, 0.4) !important;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(210, 26, 26, 0.4) !important;
	.google-visualization-tooltip-item-list {
		.google-visualization-tooltip-item {
			span {
				color: #ffffff !important;
			}
		}
	}
}
#covidWorldMap,
#covidCountryMap,
.leaflet-control-attribution {
	background-color: #191a1a !important;
}
.map-info {
	padding: 6px 8px;
	font: '14px/16px Nunito, Arial, Helvetica, sans-serif';
	background: white !important;
	background: #191a1a !important;
	border-radius: 5px;
	margin-bottom: 0 !important;
	margin-right: 0 !important;
}
.map-info h4,
.leaflet-control-attribution {
	margin: 0 0 5px;
	color: #fff !important;
}
#pie-numbers {
	max-height: 15rem;
	overflow: auto;
	.list-group-flush .list-group-item:first-child {
		margin-top: 1rem;
	}
	&::-webkit-scrollbar {
		width: 5px;
	}
	&::-webkit-scrollbar-track {
		// -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		border: 1px solid rgba(31, 45, 65, 0.1);
		border-radius: 10px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: rgba(31, 45, 65, 0.2);
		border-radius: 10px;
	}
}

#card-deck,
#right-panel-reports {
	max-height: 40rem;
	overflow: auto;
	&::-webkit-scrollbar {
		width: 5px;
	}
	&::-webkit-scrollbar-track {
		// -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		border: 0.5em solid rgba(31, 45, 65, 0.06);
		border-radius: 10px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: rgba(31, 45, 65, 0.2);
		border-radius: 10px;
	}
}
#pie-numbers.list-group-flush .list-group-item {
	border: none;
	padding: 0.5rem 0 0.5rem 1rem;
}
.legend-marker {
	width: 5px;
	height: 5px;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
}
.shakespeare {
	background-color: #3e95cd;
}
.keppel {
	background-color: #3cba9f;
}
.wild-watermelon {
	background-color: #ff6385;
}
.yellow-orange {
	background-color: #ff9f40;
}
.tuatara {
	background-color: #343332;
}
.news-card,
.right-panel-reports-container {
	box-shadow: none;
}
.border-left-warning {
	border-left: 0.25rem solid #f4a101 !important;
}
.border-left-danger {
	border-left: 0.25rem solid #d83c2d !important;
}
.border-left-dark {
	border-left: 0.25rem solid #1f2d41 !important;
}
.chartFilters .custom-control {
	display: inline-block;
}
#dataTableCountry tbody tr {
	cursor: pointer;
}
