// This file is intentionally blank
// Use this file to override SCSS within the project, or to add new SCSS for creating your own CSS components
.select {
	position: relative;
	display: inline-block;
	width: 100%;
	color: #555;
	width: 25%;

	select {
		display: inline-block;
		width: 100%;
		margin: 0;
		padding: .5rem 2.25rem .5rem 1rem;
		line-height: 1.5;
		color: #555;
		background-color: #eee;
		border: 0;
		border: 1px solid #d0d0d0;
		border-radius: .25rem;
		cursor: pointer;
		outline: 0;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		&:focus:-moz-focusring {
			color: transparent;
			text-shadow: 0 0 0 #000;
		}
	}

	&:after {
		position: absolute;
		top: 50%;
		right: 1.25rem;
		display: inline-block;
		content: "";
		width: 0;
		height: 0;
		margin-top: -.15rem;
		pointer-events: none;
		border-top: .35rem solid;
		border-right: .35rem solid transparent;
		border-bottom: .35rem solid transparent;
		border-left: .35rem solid transparent;
	}

	select {
		&:focus {
			box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem #0074d9;
		}

		&:active {
			color: #fff;
			background-color: #0074d9;
		}

		&::-ms-expand {
			display: none;
		}
	}
}

/* Undo the Firefox inner focus ring */

/* Dropdown arrow */

/* Hover state */
/* Uncomment if you need it, but be aware of the sticky iOS states.
  .select select:hover {
	background-color: #ddd;
  }
  */

/* Focus */

/* Active/open */

/* Hide the arrow in IE10 and up */

/* Media query to target Firefox only */
@-moz-document url-prefix() {
	/* Firefox hack to hide the arrow */

	.select {
		select {
			text-indent: 0.01px;
			text-overflow: '';
			padding-right: 1rem;
		}

		option {
			background-color: white;
		}
	}

	/* <option> elements inherit styles from <select>, so reset them. */
}

/* IE9 hack to hide the arrow */
@media screen and (min-width: 0\0) {
	.select {
		select {
			z-index: 1;
			padding: .5rem 1.5rem .5rem 1rem;
		}

		&:after {
			z-index: 5;
		}

		&:before {
			position: absolute;
			top: 0;
			right: 1rem;
			bottom: 0;
			z-index: 2;
			content: "";
			display: block;
			width: 1.5rem;
			background-color: #eee;
		}

		select {
			&:hover,
			&:focus,
			&:active {
				color: #555;
				background-color: #eee;
			}
		}
	}
}
#sidebarToggle {
	position: absolute;
	top: 10px;
	left: 10px;
	border-color: transparent;
	color: #ffffff !important;
	z-index: 999;
}
.spinner-border {
	margin: 1.2rem;
}

@media only screen and (max-width: 600px) {
	.select {
		width: 50%;
		float: none;
		margin: 0 auto;
	}
	.container-fluid {
		padding-left: .5rem;
		padding-right: .5rem;
	}
	#covidWorldChart {
		width: 100%;
	}
}
#dataTableWorldTimeline td {
	vertical-align: middle;
}
.ge-2-lt-5,
.ge-5-lt-8,
.ge-8 {
	height: 12px;
	width: 14px;
	border-radius: 3px;
	margin-left: 2px;
	margin-right: 2px;
	display: inline-block;
}
.bg-red-200 {
	background-color: #ffd5d5;
	display: inline-block;
}
.bg-red-500 {
	background-color: #ff8888;
	display: inline-block;
}
.bg-red-900 {
	background-color: #ff3c3c;
	display: inline-block;
}
.bg-green-200 {
	background-color: #e2f0d7;
	display: inline-block;
}
.bg-green-500 {
	background-color: #99cc72;
	display: inline-block;
}
.bg-green-900 {
	background-color: #7abc47;
	display: inline-block;
}
