// This file is intentionally blank
// Use this file to override SCSS within the project, or to add new SCSS for creating your own CSS components
.select {
	position: relative;
	display: inline-block;
	width: 100%;
	color: #555;
	width: 25%;

	select {
		display: inline-block;
		width: 100%;
		margin: 0;
		padding: .5rem 2.25rem .5rem 1rem;
		line-height: 1.5;
		color: #555;
		background-color: #fff;
		border: 0;
		border: 1px solid #e3e6ec;
		border-radius: 0.25rem;
		cursor: pointer;
		outline: 0;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		&:hover {
			background-color: #fbfbfb;
		}
		&:focus:-moz-focusring {
			color: transparent;
			text-shadow: 0 0 0 #000;
		}
	}

	&:after {
		position: absolute;
		top: 50%;
		right: 1.25rem;
		display: inline-block;
		content: "";
		width: 0;
		height: 0;
		margin-top: -.15rem;
		pointer-events: none;
		border-top: .35rem solid;
		border-right: .35rem solid transparent;
		border-bottom: .35rem solid transparent;
		border-left: .35rem solid transparent;
	}

	select {
		&:focus {
			box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem #0074d9;
		}

		&:active {
			color: #fff;
			background-color: #0074d9;
		}

		&::-ms-expand {
			display: none;
		}
	}
}

/* Undo the Firefox inner focus ring */

/* Dropdown arrow */

/* Hover state */
/* Uncomment if you need it, but be aware of the sticky iOS states.
  .select select:hover {
	background-color: #ddd;
  }
  */

/* Focus */

/* Active/open */

/* Hide the arrow in IE10 and up */

/* Media query to target Firefox only */
@-moz-document url-prefix() {
	/* Firefox hack to hide the arrow */

	.select {
		select {
			text-indent: 0.01px;
			text-overflow: '';
			padding-right: 1rem;
		}

		option {
			background-color: white;
		}
	}

	/* <option> elements inherit styles from <select>, so reset them. */
}

/* IE9 hack to hide the arrow */
@media screen and (min-width: 0\0) {
	.select {
		select {
			z-index: 1;
			padding: .5rem 1.5rem .5rem 1rem;
		}

		&:after {
			z-index: 5;
		}

		&:before {
			position: absolute;
			top: 0;
			right: 1rem;
			bottom: 0;
			z-index: 2;
			content: "";
			display: block;
			width: 1.5rem;
			background-color: #eee;
		}

		select {
			&:hover,
			&:focus,
			&:active {
				color: #555;
				background-color: #eee;
			}
		}
	}
}
.spinner-border {
	margin: 1.2rem;
}

#card-legend {
	position: absolute;
	top: 6rem;
	left: 6rem;
	z-index: 999;
}

#flourish-bar-chart-race {
	width: 900px;
}

#myChart {
	height: 30rem !important;
}
.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
.col-2dot4 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 20%;
	flex: 0 0 20%;
	max-width: 20%;
}
@media (min-width: 540px) {
	.col-sm-2dot4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%;
	}
}
@media (min-width: 720px) {
	.col-md-2dot4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%;
	}
}
@media (min-width: 960px) {
	.col-lg-2dot4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%;
	}
}
@media (min-width: 1140px) {
	.col-xl-2dot4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%;
	}
}
.container-percentage {
	display: block;
	font-size: 0.7em;
}
#covidWorldMap,
#covidCountryMap,
.leaflet-control-attribution {
	background-color: #191a1a !important;
}
.leaflet-right .leaflet-control {
	float: none;
}
.leaflet-control-attribution {
	margin: 0;
	color: #fff !important;
}
#pie-numbers {
	max-height: 15rem;
	overflow: auto;
	.list-group-flush .list-group-item:first-child {
		margin-top: 1rem;
	}
	&::-webkit-scrollbar {
		width: 5px;
	}
	&::-webkit-scrollbar-track {
		// -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		border: 1px solid rgba(31, 45, 65, 0.1);
		border-radius: 10px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: rgba(31, 45, 65, 0.2);
		border-radius: 10px;
	}
}

.card-deck-container {
	max-height: 40rem;
	overflow: auto;
	&::-webkit-scrollbar {
		width: 5px;
	}
	&::-webkit-scrollbar-track {
		// -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		border: 0.5em solid rgba(31, 45, 65, 0.06);
		border-radius: 10px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: rgba(31, 45, 65, 0.2);
		border-radius: 10px;
	}
}
#pie-numbers.list-group-flush .list-group-item {
	border: none;
	padding: 0.5rem 0 0.5rem 1rem;
}
.legend-marker {
	width: 5px;
	height: 5px;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
}
.shakespeare {
	background-color: #3e95cd;
}
.keppel {
	background-color: #3cba9f;
}
.wild-watermelon {
	background-color: #ff6385;
}
.yellow-orange {
	background-color: #ff9f40;
}
.tuatara {
	background-color: #343332;
}
.news-card,
.right-panel-reports-container {
	box-shadow: none;
}
.border-left-warning {
	border-left: 0.25rem solid #f4a101 !important;
}
.border-left-danger {
	border-left: 0.25rem solid #d83c2d !important;
}
.border-left-dark {
	border-left: 0.25rem solid #1f2d41 !important;
}
.chartFilters .custom-control {
	display: inline-block;
}
#dataTableCountry tbody tr {
	cursor: pointer;
}

.modal-content .icon-cross {
	font-size: 1rem;
	padding: 1.5rem 1rem;
}
h3.modal-title {
	letter-spacing: 0.05rem;
}
#dataTableState {
	text-transform: capitalize;
}

.card-stats {
	.card {
		.card-body {
			padding: 1.5rem;
			img {
				height: 48px;
				width: 48px;
			}
			div.text-white {
				font-size: 2rem;
			}
			.d-flex {
				div.text-white-75 {
					font-size: 1rem;
				}
				div.text-white-75.small {
					font-size: 1rem;
				}
			}
		}
	}
}
@media only screen and (max-width: 600px) {
	h3 {
		font-size: 1.2rem;
	}
	#brand-logo {
		height: 32px;
	}
	.topnav.navbar-light #sidebarMenu {
		margin: 0;
	}
	.topnav .navbar-brand {
		padding: 0;
	}
	.topnav .text-dark {
		font-size: 1rem;
		text-align: center;
	}
	.select {
		width: 100%;
		float: none;
		margin: 0 auto;
		padding-bottom: 0.75rem;
	}
	.container-fluid {
		padding-left: 0rem;
		padding-right: 0rem;
		overflow: hidden;
	}
	.card-stats {
		width: 50% !important;
		padding: 5px;
		.card {
			display: inline-block;
			width: 100%;
			.card-body {
				padding: 10px;
				h3 {
					display: inline-block;
					font-size: 1rem;
				}
				img {
					height: 32px;
					width: 32px;
				}
				div.text-white {
					font-size: 1.5rem;
				}
				.d-flex {
					div.text-white-75 {
						font-size: 0.8rem;
					}
					div.text-white-75.small {
						font-size: 0.5rem;
					}
				}
			}
		}
	}
	#card-legend {
		position: relative;
		top: 0;
		left: 0;
		box-shadow: none;
		border: none;
	}
	.footer .row.justify-content-around {
		text-align: center;

		a {
			padding: 10px 0;
		}
	}
	#card-deck {
		h3 {
			font-size: 1rem;
		}
		p {
			font-size: 0.8rem;
		}
		.small {
			font-size: 0.6rem;
		}
	}
	#flourish-bar-chart-race {
		width: 100%;
		padding: 0.25rem;
	}
	.footer {
		height: 10rem;
	}

	#myChart {
		height: 20rem !important;
	}
	#dataTableWorldTimeline,
	#dataTableCountry {
		width: 800px !important;
	}
}
